/*
 * NSX-T Manager API
 * VMware NSX-T Manager REST API
 *
 * OpenAPI spec version: 2.5.1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.AdvertiseRuleList;
import io.swagger.client.model.AdvertisementConfig;
import io.swagger.client.model.ApiError;
import io.swagger.client.model.BGPCommunityList;
import io.swagger.client.model.BGPCommunityListListResult;
import io.swagger.client.model.BgpConfig;
import io.swagger.client.model.BgpNeighbor;
import io.swagger.client.model.BgpNeighborListResult;
import io.swagger.client.model.DADProfile;
import io.swagger.client.model.DADProfileListResult;
import io.swagger.client.model.IPPrefixList;
import io.swagger.client.model.IPPrefixListListResult;
import io.swagger.client.model.NDRAProfile;
import io.swagger.client.model.NDRAProfileListResult;
import io.swagger.client.model.RedistributionConfig;
import io.swagger.client.model.RedistributionRuleList;
import io.swagger.client.model.RouteMap;
import io.swagger.client.model.RouteMapListResult;
import io.swagger.client.model.RoutingConfig;
import io.swagger.client.model.StaticRoute;
import io.swagger.client.model.StaticRouteListResult;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ManagementPlaneApiLogicalRoutingAndServicesRoutingConfigurationApi {
    private ApiClient apiClient;

    public ManagementPlaneApiLogicalRoutingAndServicesRoutingConfigurationApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ManagementPlaneApiLogicalRoutingAndServicesRoutingConfigurationApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for addBgpNeighbor
     * @param body  (required)
     * @param logicalRouterId  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call addBgpNeighborCall(BgpNeighbor body, String logicalRouterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/logical-routers/{logical-router-id}/routing/bgp/neighbors"
            .replaceAll("\\{" + "logical-router-id" + "\\}", apiClient.escapeString(logicalRouterId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call addBgpNeighborValidateBeforeCall(BgpNeighbor body, String logicalRouterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling addBgpNeighbor(Async)");
        }
        // verify the required parameter 'logicalRouterId' is set
        if (logicalRouterId == null) {
            throw new ApiException("Missing the required parameter 'logicalRouterId' when calling addBgpNeighbor(Async)");
        }
        
        com.squareup.okhttp.Call call = addBgpNeighborCall(body, logicalRouterId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Add a new BGP Neighbor on a Logical Router
     * Add a new BGP Neighbor on a Logical Router 
     * @param body  (required)
     * @param logicalRouterId  (required)
     * @return BgpNeighbor
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public BgpNeighbor addBgpNeighbor(BgpNeighbor body, String logicalRouterId) throws ApiException {
        ApiResponse<BgpNeighbor> resp = addBgpNeighborWithHttpInfo(body, logicalRouterId);
        return resp.getData();
    }

    /**
     * Add a new BGP Neighbor on a Logical Router
     * Add a new BGP Neighbor on a Logical Router 
     * @param body  (required)
     * @param logicalRouterId  (required)
     * @return ApiResponse&lt;BgpNeighbor&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<BgpNeighbor> addBgpNeighborWithHttpInfo(BgpNeighbor body, String logicalRouterId) throws ApiException {
        com.squareup.okhttp.Call call = addBgpNeighborValidateBeforeCall(body, logicalRouterId, null, null);
        Type localVarReturnType = new TypeToken<BgpNeighbor>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Add a new BGP Neighbor on a Logical Router (asynchronously)
     * Add a new BGP Neighbor on a Logical Router 
     * @param body  (required)
     * @param logicalRouterId  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call addBgpNeighborAsync(BgpNeighbor body, String logicalRouterId, final ApiCallback<BgpNeighbor> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = addBgpNeighborValidateBeforeCall(body, logicalRouterId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<BgpNeighbor>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for addIPPrefixList
     * @param body  (required)
     * @param logicalRouterId  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call addIPPrefixListCall(IPPrefixList body, String logicalRouterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/logical-routers/{logical-router-id}/routing/ip-prefix-lists"
            .replaceAll("\\{" + "logical-router-id" + "\\}", apiClient.escapeString(logicalRouterId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call addIPPrefixListValidateBeforeCall(IPPrefixList body, String logicalRouterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling addIPPrefixList(Async)");
        }
        // verify the required parameter 'logicalRouterId' is set
        if (logicalRouterId == null) {
            throw new ApiException("Missing the required parameter 'logicalRouterId' when calling addIPPrefixList(Async)");
        }
        
        com.squareup.okhttp.Call call = addIPPrefixListCall(body, logicalRouterId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Add IPPrefixList on a Logical Router
     * Adds a new IPPrefixList on a Logical Router 
     * @param body  (required)
     * @param logicalRouterId  (required)
     * @return IPPrefixList
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public IPPrefixList addIPPrefixList(IPPrefixList body, String logicalRouterId) throws ApiException {
        ApiResponse<IPPrefixList> resp = addIPPrefixListWithHttpInfo(body, logicalRouterId);
        return resp.getData();
    }

    /**
     * Add IPPrefixList on a Logical Router
     * Adds a new IPPrefixList on a Logical Router 
     * @param body  (required)
     * @param logicalRouterId  (required)
     * @return ApiResponse&lt;IPPrefixList&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<IPPrefixList> addIPPrefixListWithHttpInfo(IPPrefixList body, String logicalRouterId) throws ApiException {
        com.squareup.okhttp.Call call = addIPPrefixListValidateBeforeCall(body, logicalRouterId, null, null);
        Type localVarReturnType = new TypeToken<IPPrefixList>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Add IPPrefixList on a Logical Router (asynchronously)
     * Adds a new IPPrefixList on a Logical Router 
     * @param body  (required)
     * @param logicalRouterId  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call addIPPrefixListAsync(IPPrefixList body, String logicalRouterId, final ApiCallback<IPPrefixList> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = addIPPrefixListValidateBeforeCall(body, logicalRouterId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<IPPrefixList>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for addRouteMap
     * @param body  (required)
     * @param logicalRouterId  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call addRouteMapCall(RouteMap body, String logicalRouterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/logical-routers/{logical-router-id}/routing/route-maps"
            .replaceAll("\\{" + "logical-router-id" + "\\}", apiClient.escapeString(logicalRouterId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call addRouteMapValidateBeforeCall(RouteMap body, String logicalRouterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling addRouteMap(Async)");
        }
        // verify the required parameter 'logicalRouterId' is set
        if (logicalRouterId == null) {
            throw new ApiException("Missing the required parameter 'logicalRouterId' when calling addRouteMap(Async)");
        }
        
        com.squareup.okhttp.Call call = addRouteMapCall(body, logicalRouterId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Add RouteMap on a Logical Router
     * Adds a new RouteMap on a Logical Router 
     * @param body  (required)
     * @param logicalRouterId  (required)
     * @return RouteMap
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public RouteMap addRouteMap(RouteMap body, String logicalRouterId) throws ApiException {
        ApiResponse<RouteMap> resp = addRouteMapWithHttpInfo(body, logicalRouterId);
        return resp.getData();
    }

    /**
     * Add RouteMap on a Logical Router
     * Adds a new RouteMap on a Logical Router 
     * @param body  (required)
     * @param logicalRouterId  (required)
     * @return ApiResponse&lt;RouteMap&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<RouteMap> addRouteMapWithHttpInfo(RouteMap body, String logicalRouterId) throws ApiException {
        com.squareup.okhttp.Call call = addRouteMapValidateBeforeCall(body, logicalRouterId, null, null);
        Type localVarReturnType = new TypeToken<RouteMap>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Add RouteMap on a Logical Router (asynchronously)
     * Adds a new RouteMap on a Logical Router 
     * @param body  (required)
     * @param logicalRouterId  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call addRouteMapAsync(RouteMap body, String logicalRouterId, final ApiCallback<RouteMap> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = addRouteMapValidateBeforeCall(body, logicalRouterId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<RouteMap>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for addStaticRoute
     * @param body  (required)
     * @param logicalRouterId  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call addStaticRouteCall(StaticRoute body, String logicalRouterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/logical-routers/{logical-router-id}/routing/static-routes"
            .replaceAll("\\{" + "logical-router-id" + "\\}", apiClient.escapeString(logicalRouterId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call addStaticRouteValidateBeforeCall(StaticRoute body, String logicalRouterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling addStaticRoute(Async)");
        }
        // verify the required parameter 'logicalRouterId' is set
        if (logicalRouterId == null) {
            throw new ApiException("Missing the required parameter 'logicalRouterId' when calling addStaticRoute(Async)");
        }
        
        com.squareup.okhttp.Call call = addStaticRouteCall(body, logicalRouterId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Add Static Routes on a Logical Router
     * Adds a new static route on a Logical Router 
     * @param body  (required)
     * @param logicalRouterId  (required)
     * @return StaticRoute
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public StaticRoute addStaticRoute(StaticRoute body, String logicalRouterId) throws ApiException {
        ApiResponse<StaticRoute> resp = addStaticRouteWithHttpInfo(body, logicalRouterId);
        return resp.getData();
    }

    /**
     * Add Static Routes on a Logical Router
     * Adds a new static route on a Logical Router 
     * @param body  (required)
     * @param logicalRouterId  (required)
     * @return ApiResponse&lt;StaticRoute&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<StaticRoute> addStaticRouteWithHttpInfo(StaticRoute body, String logicalRouterId) throws ApiException {
        com.squareup.okhttp.Call call = addStaticRouteValidateBeforeCall(body, logicalRouterId, null, null);
        Type localVarReturnType = new TypeToken<StaticRoute>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Add Static Routes on a Logical Router (asynchronously)
     * Adds a new static route on a Logical Router 
     * @param body  (required)
     * @param logicalRouterId  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call addStaticRouteAsync(StaticRoute body, String logicalRouterId, final ApiCallback<StaticRoute> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = addStaticRouteValidateBeforeCall(body, logicalRouterId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<StaticRoute>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createBGPCommunityList
     * @param body  (required)
     * @param logicalRouterId  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createBGPCommunityListCall(BGPCommunityList body, String logicalRouterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/logical-routers/{logical-router-id}/routing/bgp/community-lists"
            .replaceAll("\\{" + "logical-router-id" + "\\}", apiClient.escapeString(logicalRouterId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createBGPCommunityListValidateBeforeCall(BGPCommunityList body, String logicalRouterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling createBGPCommunityList(Async)");
        }
        // verify the required parameter 'logicalRouterId' is set
        if (logicalRouterId == null) {
            throw new ApiException("Missing the required parameter 'logicalRouterId' when calling createBGPCommunityList(Async)");
        }
        
        com.squareup.okhttp.Call call = createBGPCommunityListCall(body, logicalRouterId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Create a new BGP community list on a Logical Router
     * Add a new BGP Community List on a Logical Router 
     * @param body  (required)
     * @param logicalRouterId  (required)
     * @return BGPCommunityList
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public BGPCommunityList createBGPCommunityList(BGPCommunityList body, String logicalRouterId) throws ApiException {
        ApiResponse<BGPCommunityList> resp = createBGPCommunityListWithHttpInfo(body, logicalRouterId);
        return resp.getData();
    }

    /**
     * Create a new BGP community list on a Logical Router
     * Add a new BGP Community List on a Logical Router 
     * @param body  (required)
     * @param logicalRouterId  (required)
     * @return ApiResponse&lt;BGPCommunityList&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<BGPCommunityList> createBGPCommunityListWithHttpInfo(BGPCommunityList body, String logicalRouterId) throws ApiException {
        com.squareup.okhttp.Call call = createBGPCommunityListValidateBeforeCall(body, logicalRouterId, null, null);
        Type localVarReturnType = new TypeToken<BGPCommunityList>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create a new BGP community list on a Logical Router (asynchronously)
     * Add a new BGP Community List on a Logical Router 
     * @param body  (required)
     * @param logicalRouterId  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createBGPCommunityListAsync(BGPCommunityList body, String logicalRouterId, final ApiCallback<BGPCommunityList> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createBGPCommunityListValidateBeforeCall(body, logicalRouterId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<BGPCommunityList>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createDADProfile
     * @param body  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createDADProfileCall(DADProfile body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/ipv6/dad-profiles";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createDADProfileValidateBeforeCall(DADProfile body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling createDADProfile(Async)");
        }
        
        com.squareup.okhttp.Call call = createDADProfileCall(body, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Create a new DADProfile
     * Adds a new DADProfile 
     * @param body  (required)
     * @return DADProfile
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public DADProfile createDADProfile(DADProfile body) throws ApiException {
        ApiResponse<DADProfile> resp = createDADProfileWithHttpInfo(body);
        return resp.getData();
    }

    /**
     * Create a new DADProfile
     * Adds a new DADProfile 
     * @param body  (required)
     * @return ApiResponse&lt;DADProfile&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<DADProfile> createDADProfileWithHttpInfo(DADProfile body) throws ApiException {
        com.squareup.okhttp.Call call = createDADProfileValidateBeforeCall(body, null, null);
        Type localVarReturnType = new TypeToken<DADProfile>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create a new DADProfile (asynchronously)
     * Adds a new DADProfile 
     * @param body  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createDADProfileAsync(DADProfile body, final ApiCallback<DADProfile> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createDADProfileValidateBeforeCall(body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<DADProfile>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createNDRAProfile
     * @param body  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createNDRAProfileCall(NDRAProfile body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/ipv6/nd-ra-profiles";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createNDRAProfileValidateBeforeCall(NDRAProfile body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling createNDRAProfile(Async)");
        }
        
        com.squareup.okhttp.Call call = createNDRAProfileCall(body, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Create a new NDRA Profile
     * Adds a new NDRAProfile 
     * @param body  (required)
     * @return NDRAProfile
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public NDRAProfile createNDRAProfile(NDRAProfile body) throws ApiException {
        ApiResponse<NDRAProfile> resp = createNDRAProfileWithHttpInfo(body);
        return resp.getData();
    }

    /**
     * Create a new NDRA Profile
     * Adds a new NDRAProfile 
     * @param body  (required)
     * @return ApiResponse&lt;NDRAProfile&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<NDRAProfile> createNDRAProfileWithHttpInfo(NDRAProfile body) throws ApiException {
        com.squareup.okhttp.Call call = createNDRAProfileValidateBeforeCall(body, null, null);
        Type localVarReturnType = new TypeToken<NDRAProfile>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create a new NDRA Profile (asynchronously)
     * Adds a new NDRAProfile 
     * @param body  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createNDRAProfileAsync(NDRAProfile body, final ApiCallback<NDRAProfile> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createNDRAProfileValidateBeforeCall(body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<NDRAProfile>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for deleteBGPCommunityList
     * @param logicalRouterId  (required)
     * @param communityListId  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteBGPCommunityListCall(String logicalRouterId, String communityListId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/logical-routers/{logical-router-id}/routing/bgp/community-lists/{community-list-id}"
            .replaceAll("\\{" + "logical-router-id" + "\\}", apiClient.escapeString(logicalRouterId.toString()))
            .replaceAll("\\{" + "community-list-id" + "\\}", apiClient.escapeString(communityListId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteBGPCommunityListValidateBeforeCall(String logicalRouterId, String communityListId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'logicalRouterId' is set
        if (logicalRouterId == null) {
            throw new ApiException("Missing the required parameter 'logicalRouterId' when calling deleteBGPCommunityList(Async)");
        }
        // verify the required parameter 'communityListId' is set
        if (communityListId == null) {
            throw new ApiException("Missing the required parameter 'communityListId' when calling deleteBGPCommunityList(Async)");
        }
        
        com.squareup.okhttp.Call call = deleteBGPCommunityListCall(logicalRouterId, communityListId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Delete a specific BGP community list from a Logical Router
     * Delete a specific BGP community list from a Logical Router 
     * @param logicalRouterId  (required)
     * @param communityListId  (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deleteBGPCommunityList(String logicalRouterId, String communityListId) throws ApiException {
        deleteBGPCommunityListWithHttpInfo(logicalRouterId, communityListId);
    }

    /**
     * Delete a specific BGP community list from a Logical Router
     * Delete a specific BGP community list from a Logical Router 
     * @param logicalRouterId  (required)
     * @param communityListId  (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteBGPCommunityListWithHttpInfo(String logicalRouterId, String communityListId) throws ApiException {
        com.squareup.okhttp.Call call = deleteBGPCommunityListValidateBeforeCall(logicalRouterId, communityListId, null, null);
        return apiClient.execute(call);
    }

    /**
     * Delete a specific BGP community list from a Logical Router (asynchronously)
     * Delete a specific BGP community list from a Logical Router 
     * @param logicalRouterId  (required)
     * @param communityListId  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteBGPCommunityListAsync(String logicalRouterId, String communityListId, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteBGPCommunityListValidateBeforeCall(logicalRouterId, communityListId, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for deleteBgpNeighbor
     * @param logicalRouterId  (required)
     * @param id  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteBgpNeighborCall(String logicalRouterId, String id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/logical-routers/{logical-router-id}/routing/bgp/neighbors/{id}"
            .replaceAll("\\{" + "logical-router-id" + "\\}", apiClient.escapeString(logicalRouterId.toString()))
            .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteBgpNeighborValidateBeforeCall(String logicalRouterId, String id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'logicalRouterId' is set
        if (logicalRouterId == null) {
            throw new ApiException("Missing the required parameter 'logicalRouterId' when calling deleteBgpNeighbor(Async)");
        }
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling deleteBgpNeighbor(Async)");
        }
        
        com.squareup.okhttp.Call call = deleteBgpNeighborCall(logicalRouterId, id, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Delete a specific BGP Neighbor on a Logical Router
     * Delete a specific BGP Neighbor on a Logical Router 
     * @param logicalRouterId  (required)
     * @param id  (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deleteBgpNeighbor(String logicalRouterId, String id) throws ApiException {
        deleteBgpNeighborWithHttpInfo(logicalRouterId, id);
    }

    /**
     * Delete a specific BGP Neighbor on a Logical Router
     * Delete a specific BGP Neighbor on a Logical Router 
     * @param logicalRouterId  (required)
     * @param id  (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteBgpNeighborWithHttpInfo(String logicalRouterId, String id) throws ApiException {
        com.squareup.okhttp.Call call = deleteBgpNeighborValidateBeforeCall(logicalRouterId, id, null, null);
        return apiClient.execute(call);
    }

    /**
     * Delete a specific BGP Neighbor on a Logical Router (asynchronously)
     * Delete a specific BGP Neighbor on a Logical Router 
     * @param logicalRouterId  (required)
     * @param id  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteBgpNeighborAsync(String logicalRouterId, String id, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteBgpNeighborValidateBeforeCall(logicalRouterId, id, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for deleteDADProfile
     * @param dadProfileId  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteDADProfileCall(String dadProfileId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/ipv6/dad-profiles/{dad-profile-id}"
            .replaceAll("\\{" + "dad-profile-id" + "\\}", apiClient.escapeString(dadProfileId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteDADProfileValidateBeforeCall(String dadProfileId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'dadProfileId' is set
        if (dadProfileId == null) {
            throw new ApiException("Missing the required parameter 'dadProfileId' when calling deleteDADProfile(Async)");
        }
        
        com.squareup.okhttp.Call call = deleteDADProfileCall(dadProfileId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Delete DAD Profile
     * Delete DADProfile 
     * @param dadProfileId  (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deleteDADProfile(String dadProfileId) throws ApiException {
        deleteDADProfileWithHttpInfo(dadProfileId);
    }

    /**
     * Delete DAD Profile
     * Delete DADProfile 
     * @param dadProfileId  (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteDADProfileWithHttpInfo(String dadProfileId) throws ApiException {
        com.squareup.okhttp.Call call = deleteDADProfileValidateBeforeCall(dadProfileId, null, null);
        return apiClient.execute(call);
    }

    /**
     * Delete DAD Profile (asynchronously)
     * Delete DADProfile 
     * @param dadProfileId  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteDADProfileAsync(String dadProfileId, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteDADProfileValidateBeforeCall(dadProfileId, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for deleteIPPrefixList
     * @param logicalRouterId  (required)
     * @param id  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteIPPrefixListCall(String logicalRouterId, String id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/logical-routers/{logical-router-id}/routing/ip-prefix-lists/{id}"
            .replaceAll("\\{" + "logical-router-id" + "\\}", apiClient.escapeString(logicalRouterId.toString()))
            .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteIPPrefixListValidateBeforeCall(String logicalRouterId, String id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'logicalRouterId' is set
        if (logicalRouterId == null) {
            throw new ApiException("Missing the required parameter 'logicalRouterId' when calling deleteIPPrefixList(Async)");
        }
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling deleteIPPrefixList(Async)");
        }
        
        com.squareup.okhttp.Call call = deleteIPPrefixListCall(logicalRouterId, id, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Delete a specific IPPrefixList on a Logical Router
     * Deletes a specific IPPrefixList on the specified logical router. 
     * @param logicalRouterId  (required)
     * @param id  (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deleteIPPrefixList(String logicalRouterId, String id) throws ApiException {
        deleteIPPrefixListWithHttpInfo(logicalRouterId, id);
    }

    /**
     * Delete a specific IPPrefixList on a Logical Router
     * Deletes a specific IPPrefixList on the specified logical router. 
     * @param logicalRouterId  (required)
     * @param id  (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteIPPrefixListWithHttpInfo(String logicalRouterId, String id) throws ApiException {
        com.squareup.okhttp.Call call = deleteIPPrefixListValidateBeforeCall(logicalRouterId, id, null, null);
        return apiClient.execute(call);
    }

    /**
     * Delete a specific IPPrefixList on a Logical Router (asynchronously)
     * Deletes a specific IPPrefixList on the specified logical router. 
     * @param logicalRouterId  (required)
     * @param id  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteIPPrefixListAsync(String logicalRouterId, String id, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteIPPrefixListValidateBeforeCall(logicalRouterId, id, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for deleteNDRAProfile
     * @param ndRaProfileId  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteNDRAProfileCall(String ndRaProfileId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/ipv6/nd-ra-profiles/{nd-ra-profile-id}"
            .replaceAll("\\{" + "nd-ra-profile-id" + "\\}", apiClient.escapeString(ndRaProfileId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteNDRAProfileValidateBeforeCall(String ndRaProfileId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'ndRaProfileId' is set
        if (ndRaProfileId == null) {
            throw new ApiException("Missing the required parameter 'ndRaProfileId' when calling deleteNDRAProfile(Async)");
        }
        
        com.squareup.okhttp.Call call = deleteNDRAProfileCall(ndRaProfileId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Delete NDRA Profile
     * Delete NDRAProfile 
     * @param ndRaProfileId  (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deleteNDRAProfile(String ndRaProfileId) throws ApiException {
        deleteNDRAProfileWithHttpInfo(ndRaProfileId);
    }

    /**
     * Delete NDRA Profile
     * Delete NDRAProfile 
     * @param ndRaProfileId  (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteNDRAProfileWithHttpInfo(String ndRaProfileId) throws ApiException {
        com.squareup.okhttp.Call call = deleteNDRAProfileValidateBeforeCall(ndRaProfileId, null, null);
        return apiClient.execute(call);
    }

    /**
     * Delete NDRA Profile (asynchronously)
     * Delete NDRAProfile 
     * @param ndRaProfileId  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteNDRAProfileAsync(String ndRaProfileId, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteNDRAProfileValidateBeforeCall(ndRaProfileId, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for deleteRouteMap
     * @param logicalRouterId  (required)
     * @param id  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteRouteMapCall(String logicalRouterId, String id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/logical-routers/{logical-router-id}/routing/route-maps/{id}"
            .replaceAll("\\{" + "logical-router-id" + "\\}", apiClient.escapeString(logicalRouterId.toString()))
            .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteRouteMapValidateBeforeCall(String logicalRouterId, String id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'logicalRouterId' is set
        if (logicalRouterId == null) {
            throw new ApiException("Missing the required parameter 'logicalRouterId' when calling deleteRouteMap(Async)");
        }
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling deleteRouteMap(Async)");
        }
        
        com.squareup.okhttp.Call call = deleteRouteMapCall(logicalRouterId, id, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Delete a specific RouteMap on a Logical Router
     * Deletes a specific RouteMap on the specified logical router. 
     * @param logicalRouterId  (required)
     * @param id  (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deleteRouteMap(String logicalRouterId, String id) throws ApiException {
        deleteRouteMapWithHttpInfo(logicalRouterId, id);
    }

    /**
     * Delete a specific RouteMap on a Logical Router
     * Deletes a specific RouteMap on the specified logical router. 
     * @param logicalRouterId  (required)
     * @param id  (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteRouteMapWithHttpInfo(String logicalRouterId, String id) throws ApiException {
        com.squareup.okhttp.Call call = deleteRouteMapValidateBeforeCall(logicalRouterId, id, null, null);
        return apiClient.execute(call);
    }

    /**
     * Delete a specific RouteMap on a Logical Router (asynchronously)
     * Deletes a specific RouteMap on the specified logical router. 
     * @param logicalRouterId  (required)
     * @param id  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteRouteMapAsync(String logicalRouterId, String id, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteRouteMapValidateBeforeCall(logicalRouterId, id, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for deleteStaticRoute
     * @param logicalRouterId  (required)
     * @param id  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteStaticRouteCall(String logicalRouterId, String id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/logical-routers/{logical-router-id}/routing/static-routes/{id}"
            .replaceAll("\\{" + "logical-router-id" + "\\}", apiClient.escapeString(logicalRouterId.toString()))
            .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteStaticRouteValidateBeforeCall(String logicalRouterId, String id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'logicalRouterId' is set
        if (logicalRouterId == null) {
            throw new ApiException("Missing the required parameter 'logicalRouterId' when calling deleteStaticRoute(Async)");
        }
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling deleteStaticRoute(Async)");
        }
        
        com.squareup.okhttp.Call call = deleteStaticRouteCall(logicalRouterId, id, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Delete a specific Static Route on a Logical Router
     * Deletes a specific static route on the specified logical router. 
     * @param logicalRouterId  (required)
     * @param id  (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deleteStaticRoute(String logicalRouterId, String id) throws ApiException {
        deleteStaticRouteWithHttpInfo(logicalRouterId, id);
    }

    /**
     * Delete a specific Static Route on a Logical Router
     * Deletes a specific static route on the specified logical router. 
     * @param logicalRouterId  (required)
     * @param id  (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteStaticRouteWithHttpInfo(String logicalRouterId, String id) throws ApiException {
        com.squareup.okhttp.Call call = deleteStaticRouteValidateBeforeCall(logicalRouterId, id, null, null);
        return apiClient.execute(call);
    }

    /**
     * Delete a specific Static Route on a Logical Router (asynchronously)
     * Deletes a specific static route on the specified logical router. 
     * @param logicalRouterId  (required)
     * @param id  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteStaticRouteAsync(String logicalRouterId, String id, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteStaticRouteValidateBeforeCall(logicalRouterId, id, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for listBGPCommunityLists
     * @param logicalRouterId  (required)
     * @param cursor Opaque cursor to be used for getting next page of records (supplied by current result page) (optional)
     * @param includedFields Comma separated list of fields that should be included in query result (optional)
     * @param pageSize Maximum number of results to return in this page (server may return fewer) (optional)
     * @param sortAscending  (optional)
     * @param sortBy Field by which records are sorted (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call listBGPCommunityListsCall(String logicalRouterId, String cursor, String includedFields, Long pageSize, Boolean sortAscending, String sortBy, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/logical-routers/{logical-router-id}/routing/bgp/community-lists"
            .replaceAll("\\{" + "logical-router-id" + "\\}", apiClient.escapeString(logicalRouterId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (cursor != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("cursor", cursor));
        if (includedFields != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("included_fields", includedFields));
        if (pageSize != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page_size", pageSize));
        if (sortAscending != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sort_ascending", sortAscending));
        if (sortBy != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sort_by", sortBy));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call listBGPCommunityListsValidateBeforeCall(String logicalRouterId, String cursor, String includedFields, Long pageSize, Boolean sortAscending, String sortBy, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'logicalRouterId' is set
        if (logicalRouterId == null) {
            throw new ApiException("Missing the required parameter 'logicalRouterId' when calling listBGPCommunityLists(Async)");
        }
        
        com.squareup.okhttp.Call call = listBGPCommunityListsCall(logicalRouterId, cursor, includedFields, pageSize, sortAscending, sortBy, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Paginated list of BGP community lists on a Logical Router
     * Paginated list of BGP Community Lists on a Logical Router 
     * @param logicalRouterId  (required)
     * @param cursor Opaque cursor to be used for getting next page of records (supplied by current result page) (optional)
     * @param includedFields Comma separated list of fields that should be included in query result (optional)
     * @param pageSize Maximum number of results to return in this page (server may return fewer) (optional)
     * @param sortAscending  (optional)
     * @param sortBy Field by which records are sorted (optional)
     * @return BGPCommunityListListResult
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public BGPCommunityListListResult listBGPCommunityLists(String logicalRouterId, String cursor, String includedFields, Long pageSize, Boolean sortAscending, String sortBy) throws ApiException {
        ApiResponse<BGPCommunityListListResult> resp = listBGPCommunityListsWithHttpInfo(logicalRouterId, cursor, includedFields, pageSize, sortAscending, sortBy);
        return resp.getData();
    }

    /**
     * Paginated list of BGP community lists on a Logical Router
     * Paginated list of BGP Community Lists on a Logical Router 
     * @param logicalRouterId  (required)
     * @param cursor Opaque cursor to be used for getting next page of records (supplied by current result page) (optional)
     * @param includedFields Comma separated list of fields that should be included in query result (optional)
     * @param pageSize Maximum number of results to return in this page (server may return fewer) (optional)
     * @param sortAscending  (optional)
     * @param sortBy Field by which records are sorted (optional)
     * @return ApiResponse&lt;BGPCommunityListListResult&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<BGPCommunityListListResult> listBGPCommunityListsWithHttpInfo(String logicalRouterId, String cursor, String includedFields, Long pageSize, Boolean sortAscending, String sortBy) throws ApiException {
        com.squareup.okhttp.Call call = listBGPCommunityListsValidateBeforeCall(logicalRouterId, cursor, includedFields, pageSize, sortAscending, sortBy, null, null);
        Type localVarReturnType = new TypeToken<BGPCommunityListListResult>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Paginated list of BGP community lists on a Logical Router (asynchronously)
     * Paginated list of BGP Community Lists on a Logical Router 
     * @param logicalRouterId  (required)
     * @param cursor Opaque cursor to be used for getting next page of records (supplied by current result page) (optional)
     * @param includedFields Comma separated list of fields that should be included in query result (optional)
     * @param pageSize Maximum number of results to return in this page (server may return fewer) (optional)
     * @param sortAscending  (optional)
     * @param sortBy Field by which records are sorted (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call listBGPCommunityListsAsync(String logicalRouterId, String cursor, String includedFields, Long pageSize, Boolean sortAscending, String sortBy, final ApiCallback<BGPCommunityListListResult> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = listBGPCommunityListsValidateBeforeCall(logicalRouterId, cursor, includedFields, pageSize, sortAscending, sortBy, progressListener, progressRequestListener);
[...]
