/*
 * NSX-T Manager API
 * VMware NSX-T Manager REST API
 *
 * OpenAPI spec version: 2.5.1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.AlarmListResult;
import io.swagger.client.model.ApiError;
import io.swagger.client.model.ApplianceManagementTaskListResult;
import io.swagger.client.model.ApplianceManagementTaskProperties;
import io.swagger.client.model.AuditLogListResult;
import io.swagger.client.model.AuditLogRequest;
import io.swagger.client.model.CertificateKeyPair;
import io.swagger.client.model.ControllerProfilerProperties;
import io.swagger.client.model.CopyFromRemoteFileProperties;
import io.swagger.client.model.CopyToRemoteFileProperties;
import io.swagger.client.model.CreateRemoteDirectoryProperties;
import io.swagger.client.model.FileProperties;
import io.swagger.client.model.FilePropertiesListResult;
import io.swagger.client.model.FileThumbprint;
import io.swagger.client.model.KnownHostParameter;
import io.swagger.client.model.MandatoryAccessControlProperties;
import io.swagger.client.model.NodeAuthProviderVidmProperties;
import io.swagger.client.model.NodeAuthProviderVidmStatus;
import io.swagger.client.model.NodeHttpServiceProperties;
import io.swagger.client.model.NodeInstallUpgradeServiceProperties;
import io.swagger.client.model.NodeInterfaceStatisticsProperties;
import io.swagger.client.model.NodeNameServersProperties;
import io.swagger.client.model.NodeNetworkInterfaceProperties;
import io.swagger.client.model.NodeNetworkInterfacePropertiesListResult;
import io.swagger.client.model.NodeNetworkProperties;
import io.swagger.client.model.NodeNtpServiceProperties;
import io.swagger.client.model.NodePolicyServiceProperties;
import io.swagger.client.model.NodeProcessProperties;
import io.swagger.client.model.NodeProcessPropertiesListResult;
import io.swagger.client.model.NodeProperties;
import io.swagger.client.model.NodeProtonServiceProperties;
import io.swagger.client.model.NodeRouteProperties;
import io.swagger.client.model.NodeRoutePropertiesListResult;
import io.swagger.client.model.NodeSearchDomainsProperties;
import io.swagger.client.model.NodeServiceProperties;
import io.swagger.client.model.NodeServicePropertiesListResult;
import io.swagger.client.model.NodeServiceStatusProperties;
import io.swagger.client.model.NodeSnmpServiceProperties;
import io.swagger.client.model.NodeSnmpV3EngineID;
import io.swagger.client.model.NodeSshServiceProperties;
import io.swagger.client.model.NodeStatusProperties;
import io.swagger.client.model.NodeSyslogExporterProperties;
import io.swagger.client.model.NodeSyslogExporterPropertiesListResult;
import io.swagger.client.model.NodeUserProperties;
import io.swagger.client.model.NodeUserPropertiesListResult;
import io.swagger.client.model.NodeVersion;
import io.swagger.client.model.PortStatus;
import io.swagger.client.model.SshKeyBaseProperties;
import io.swagger.client.model.SshKeyProperties;
import io.swagger.client.model.SshKeyPropertiesListResult;
import io.swagger.client.model.SupportBundleRequest;
import io.swagger.client.model.SupportBundleResult;
import io.swagger.client.model.UcStateProperties;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi {
    private ApiClient apiClient;

    public ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for addNodeUserSshKeyAddSshKey
     * @param body  (required)
     * @param userid User id of the user (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call addNodeUserSshKeyAddSshKeyCall(SshKeyProperties body, String userid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/node/users/{userid}/ssh-keys?action=add_ssh_key"
            .replaceAll("\\{" + "userid" + "\\}", apiClient.escapeString(userid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call addNodeUserSshKeyAddSshKeyValidateBeforeCall(SshKeyProperties body, String userid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling addNodeUserSshKeyAddSshKey(Async)");
        }
        // verify the required parameter 'userid' is set
        if (userid == null) {
            throw new ApiException("Missing the required parameter 'userid' when calling addNodeUserSshKeyAddSshKey(Async)");
        }
        
        com.squareup.okhttp.Call call = addNodeUserSshKeyAddSshKeyCall(body, userid, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Add SSH public key to authorized_keys file for node user
     * Add SSH public key to authorized_keys file for node user
     * @param body  (required)
     * @param userid User id of the user (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void addNodeUserSshKeyAddSshKey(SshKeyProperties body, String userid) throws ApiException {
        addNodeUserSshKeyAddSshKeyWithHttpInfo(body, userid);
    }

    /**
     * Add SSH public key to authorized_keys file for node user
     * Add SSH public key to authorized_keys file for node user
     * @param body  (required)
     * @param userid User id of the user (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> addNodeUserSshKeyAddSshKeyWithHttpInfo(SshKeyProperties body, String userid) throws ApiException {
        com.squareup.okhttp.Call call = addNodeUserSshKeyAddSshKeyValidateBeforeCall(body, userid, null, null);
        return apiClient.execute(call);
    }

    /**
     * Add SSH public key to authorized_keys file for node user (asynchronously)
     * Add SSH public key to authorized_keys file for node user
     * @param body  (required)
     * @param userid User id of the user (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call addNodeUserSshKeyAddSshKeyAsync(SshKeyProperties body, String userid, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = addNodeUserSshKeyAddSshKeyValidateBeforeCall(body, userid, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for cancelApplianceManagementTaskCancel
     * @param taskId ID of task to delete (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call cancelApplianceManagementTaskCancelCall(String taskId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/node/tasks/{task-id}?action=cancel"
            .replaceAll("\\{" + "task-id" + "\\}", apiClient.escapeString(taskId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call cancelApplianceManagementTaskCancelValidateBeforeCall(String taskId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'taskId' is set
        if (taskId == null) {
            throw new ApiException("Missing the required parameter 'taskId' when calling cancelApplianceManagementTaskCancel(Async)");
        }
        
        com.squareup.okhttp.Call call = cancelApplianceManagementTaskCancelCall(taskId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Cancel specified task
     * Cancel specified task
     * @param taskId ID of task to delete (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void cancelApplianceManagementTaskCancel(String taskId) throws ApiException {
        cancelApplianceManagementTaskCancelWithHttpInfo(taskId);
    }

    /**
     * Cancel specified task
     * Cancel specified task
     * @param taskId ID of task to delete (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> cancelApplianceManagementTaskCancelWithHttpInfo(String taskId) throws ApiException {
        com.squareup.okhttp.Call call = cancelApplianceManagementTaskCancelValidateBeforeCall(taskId, null, null);
        return apiClient.execute(call);
    }

    /**
     * Cancel specified task (asynchronously)
     * Cancel specified task
     * @param taskId ID of task to delete (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call cancelApplianceManagementTaskCancelAsync(String taskId, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = cancelApplianceManagementTaskCancelValidateBeforeCall(taskId, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for checkRabbitMQManagementPort
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call checkRabbitMQManagementPortCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/node/rabbitmq-management-port";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call checkRabbitMQManagementPortValidateBeforeCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = checkRabbitMQManagementPortCall(progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Check if RabbitMQ management port is enabled or not
     * Returns status as true if RabbitMQ management port is enabled else false
     * @return PortStatus
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public PortStatus checkRabbitMQManagementPort() throws ApiException {
        ApiResponse<PortStatus> resp = checkRabbitMQManagementPortWithHttpInfo();
        return resp.getData();
    }

    /**
     * Check if RabbitMQ management port is enabled or not
     * Returns status as true if RabbitMQ management port is enabled else false
     * @return ApiResponse&lt;PortStatus&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<PortStatus> checkRabbitMQManagementPortWithHttpInfo() throws ApiException {
        com.squareup.okhttp.Call call = checkRabbitMQManagementPortValidateBeforeCall(null, null);
        Type localVarReturnType = new TypeToken<PortStatus>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Check if RabbitMQ management port is enabled or not (asynchronously)
     * Returns status as true if RabbitMQ management port is enabled else false
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call checkRabbitMQManagementPortAsync(final ApiCallback<PortStatus> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = checkRabbitMQManagementPortValidateBeforeCall(progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<PortStatus>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for collectAlarms
     * @param cursor Opaque cursor to be used for getting next page of records (supplied by current result page) (optional)
     * @param fields Fields to include in query results (optional)
     * @param pageSize Maximum number of results to return in this page (server may return fewer) (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call collectAlarmsCall(Long cursor, String fields, Long pageSize, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/hpm/alarms";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (cursor != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("cursor", cursor));
        if (fields != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("fields", fields));
        if (pageSize != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page_size", pageSize));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call collectAlarmsValidateBeforeCall(Long cursor, String fields, Long pageSize, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = collectAlarmsCall(cursor, fields, pageSize, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Collect alarms from all NSX nodes
     * This API is executed on a manager node to return current alarms from all NSX nodes. 
     * @param cursor Opaque cursor to be used for getting next page of records (supplied by current result page) (optional)
     * @param fields Fields to include in query results (optional)
     * @param pageSize Maximum number of results to return in this page (server may return fewer) (optional)
     * @return AlarmListResult
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public AlarmListResult collectAlarms(Long cursor, String fields, Long pageSize) throws ApiException {
        ApiResponse<AlarmListResult> resp = collectAlarmsWithHttpInfo(cursor, fields, pageSize);
        return resp.getData();
    }

    /**
     * Collect alarms from all NSX nodes
     * This API is executed on a manager node to return current alarms from all NSX nodes. 
     * @param cursor Opaque cursor to be used for getting next page of records (supplied by current result page) (optional)
     * @param fields Fields to include in query results (optional)
     * @param pageSize Maximum number of results to return in this page (server may return fewer) (optional)
     * @return ApiResponse&lt;AlarmListResult&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<AlarmListResult> collectAlarmsWithHttpInfo(Long cursor, String fields, Long pageSize) throws ApiException {
        com.squareup.okhttp.Call call = collectAlarmsValidateBeforeCall(cursor, fields, pageSize, null, null);
        Type localVarReturnType = new TypeToken<AlarmListResult>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Collect alarms from all NSX nodes (asynchronously)
     * This API is executed on a manager node to return current alarms from all NSX nodes. 
     * @param cursor Opaque cursor to be used for getting next page of records (supplied by current result page) (optional)
     * @param fields Fields to include in query results (optional)
     * @param pageSize Maximum number of results to return in this page (server may return fewer) (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call collectAlarmsAsync(Long cursor, String fields, Long pageSize, final ApiCallback<AlarmListResult> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = collectAlarmsValidateBeforeCall(cursor, fields, pageSize, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AlarmListResult>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for collectAuditLogs
     * @param body  (required)
     * @param cursor Opaque cursor to be used for getting next page of records (supplied by current result page) (optional)
     * @param fields Fields to include in query results (optional)
     * @param pageSize Maximum number of results to return in this page (server may return fewer) (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call collectAuditLogsCall(AuditLogRequest body, Long cursor, String fields, Long pageSize, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/administration/audit-logs";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (cursor != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("cursor", cursor));
        if (fields != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("fields", fields));
        if (pageSize != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page_size", pageSize));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call collectAuditLogsValidateBeforeCall(AuditLogRequest body, Long cursor, String fields, Long pageSize, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling collectAuditLogs(Async)");
        }
        
        com.squareup.okhttp.Call call = collectAuditLogsCall(body, cursor, fields, pageSize, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Collect audit logs from registered manager nodes
     * This API is executed on a manager node to display audit logs from all nodes inside the management plane cluster. An audit log collection will be triggered if the local master audit log is outdated. 
     * @param body  (required)
     * @param cursor Opaque cursor to be used for getting next page of records (supplied by current result page) (optional)
     * @param fields Fields to include in query results (optional)
     * @param pageSize Maximum number of results to return in this page (server may return fewer) (optional)
     * @return AuditLogListResult
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public AuditLogListResult collectAuditLogs(AuditLogRequest body, Long cursor, String fields, Long pageSize) throws ApiException {
        ApiResponse<AuditLogListResult> resp = collectAuditLogsWithHttpInfo(body, cursor, fields, pageSize);
        return resp.getData();
    }

    /**
     * Collect audit logs from registered manager nodes
     * This API is executed on a manager node to display audit logs from all nodes inside the management plane cluster. An audit log collection will be triggered if the local master audit log is outdated. 
     * @param body  (required)
     * @param cursor Opaque cursor to be used for getting next page of records (supplied by current result page) (optional)
     * @param fields Fields to include in query results (optional)
     * @param pageSize Maximum number of results to return in this page (server may return fewer) (optional)
     * @return ApiResponse&lt;AuditLogListResult&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<AuditLogListResult> collectAuditLogsWithHttpInfo(AuditLogRequest body, Long cursor, String fields, Long pageSize) throws ApiException {
        com.squareup.okhttp.Call call = collectAuditLogsValidateBeforeCall(body, cursor, fields, pageSize, null, null);
        Type localVarReturnType = new TypeToken<AuditLogListResult>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Collect audit logs from registered manager nodes (asynchronously)
     * This API is executed on a manager node to display audit logs from all nodes inside the management plane cluster. An audit log collection will be triggered if the local master audit log is outdated. 
     * @param body  (required)
     * @param cursor Opaque cursor to be used for getting next page of records (supplied by current result page) (optional)
     * @param fields Fields to include in query results (optional)
     * @param pageSize Maximum number of results to return in this page (server may return fewer) (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call collectAuditLogsAsync(AuditLogRequest body, Long cursor, String fields, Long pageSize, final ApiCallback<AuditLogListResult> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = collectAuditLogsValidateBeforeCall(body, cursor, fields, pageSize, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AuditLogListResult>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for collectSupportBundlesCollect
     * @param body  (required)
     * @param overrideAsyncResponse Override any existing support bundle async response (optional)
     * @param requireDeleteOrOverrideAsyncResponse Suppress auto-deletion of generated support bundle (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call collectSupportBundlesCollectCall(SupportBundleRequest body, Boolean overrideAsyncResponse, Boolean requireDeleteOrOverrideAsyncResponse, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/administration/support-bundles?action=collect";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (overrideAsyncResponse != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("override_async_response", overrideAsyncResponse));
        if (requireDeleteOrOverrideAsyncResponse != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("require_delete_or_override_async_response", requireDeleteOrOverrideAsyncResponse));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "application/octet-stream"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call collectSupportBundlesCollectValidateBeforeCall(SupportBundleRequest body, Boolean overrideAsyncResponse, Boolean requireDeleteOrOverrideAsyncResponse, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling collectSupportBundlesCollect(Async)");
        }
        
        com.squareup.okhttp.Call call = collectSupportBundlesCollectCall(body, overrideAsyncResponse, requireDeleteOrOverrideAsyncResponse, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Collect support bundles from registered cluster and fabric nodes
     * Collect support bundles from registered cluster and fabric nodes.
     * @param body  (required)
     * @param overrideAsyncResponse Override any existing support bundle async response (optional)
     * @param requireDeleteOrOverrideAsyncResponse Suppress auto-deletion of generated support bundle (optional)
     * @return SupportBundleResult
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public SupportBundleResult collectSupportBundlesCollect(SupportBundleRequest body, Boolean overrideAsyncResponse, Boolean requireDeleteOrOverrideAsyncResponse) throws ApiException {
        ApiResponse<SupportBundleResult> resp = collectSupportBundlesCollectWithHttpInfo(body, overrideAsyncResponse, requireDeleteOrOverrideAsyncResponse);
        return resp.getData();
    }

    /**
     * Collect support bundles from registered cluster and fabric nodes
     * Collect support bundles from registered cluster and fabric nodes.
     * @param body  (required)
     * @param overrideAsyncResponse Override any existing support bundle async response (optional)
     * @param requireDeleteOrOverrideAsyncResponse Suppress auto-deletion of generated support bundle (optional)
     * @return ApiResponse&lt;SupportBundleResult&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<SupportBundleResult> collectSupportBundlesCollectWithHttpInfo(SupportBundleRequest body, Boolean overrideAsyncResponse, Boolean requireDeleteOrOverrideAsyncResponse) throws ApiException {
        com.squareup.okhttp.Call call = collectSupportBundlesCollectValidateBeforeCall(body, overrideAsyncResponse, requireDeleteOrOverrideAsyncResponse, null, null);
        Type localVarReturnType = new TypeToken<SupportBundleResult>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Collect support bundles from registered cluster and fabric nodes (asynchronously)
     * Collect support bundles from registered cluster and fabric nodes.
     * @param body  (required)
     * @param overrideAsyncResponse Override any existing support bundle async response (optional)
     * @param requireDeleteOrOverrideAsyncResponse Suppress auto-deletion of generated support bundle (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call collectSupportBundlesCollectAsync(SupportBundleRequest body, Boolean overrideAsyncResponse, Boolean requireDeleteOrOverrideAsyncResponse, final ApiCallback<SupportBundleResult> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = collectSupportBundlesCollectValidateBeforeCall(body, overrideAsyncResponse, requireDeleteOrOverrideAsyncResponse, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<SupportBundleResult>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for copyFromRemoteFileCopyFromRemoteFile
     * @param body  (required)
     * @param fileName Destination filename (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call copyFromRemoteFileCopyFromRemoteFileCall(CopyFromRemoteFileProperties body, String fileName, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/node/file-store/{file-name}?action=copy_from_remote_file"
            .replaceAll("\\{" + "file-name" + "\\}", apiClient.escapeString(fileName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call copyFromRemoteFileCopyFromRemoteFileValidateBeforeCall(CopyFromRemoteFileProperties body, String fileName, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling copyFromRemoteFileCopyFromRemoteFile(Async)");
        }
        // verify the required parameter 'fileName' is set
        if (fileName == null) {
            throw new ApiException("Missing the required parameter 'fileName' when calling copyFromRemoteFileCopyFromRemoteFile(Async)");
        }
        
        com.squareup.okhttp.Call call = copyFromRemoteFileCopyFromRemoteFileCall(body, fileName, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Copy a remote file to the file store
     * Copy a remote file to the file store. If you use scp or sftp, you must provide the remote server&#x27;s SSH fingerprint. See the &lt;i&gt;NSX-T Administration Guide&lt;/i&gt; for information and instructions about finding the SSH fingerprint. 
     * @param body  (required)
     * @param fileName Destination filename (required)
     * @return FileProperties
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public FileProperties copyFromRemoteFileCopyFromRemoteFile(CopyFromRemoteFileProperties body, String fileName) throws ApiException {
        ApiResponse<FileProperties> resp = copyFromRemoteFileCopyFromRemoteFileWithHttpInfo(body, fileName);
        return resp.getData();
    }

    /**
     * Copy a remote file to the file store
     * Copy a remote file to the file store. If you use scp or sftp, you must provide the remote server&#x27;s SSH fingerprint. See the &lt;i&gt;NSX-T Administration Guide&lt;/i&gt; for information and instructions about finding the SSH fingerprint. 
     * @param body  (required)
     * @param fileName Destination filename (required)
     * @return ApiResponse&lt;FileProperties&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<FileProperties> copyFromRemoteFileCopyFromRemoteFileWithHttpInfo(CopyFromRemoteFileProperties body, String fileName) throws ApiException {
        com.squareup.okhttp.Call call = copyFromRemoteFileCopyFromRemoteFileValidateBeforeCall(body, fileName, null, null);
        Type localVarReturnType = new TypeToken<FileProperties>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Copy a remote file to the file store (asynchronously)
     * Copy a remote file to the file store. If you use scp or sftp, you must provide the remote server&#x27;s SSH fingerprint. See the &lt;i&gt;NSX-T Administration Guide&lt;/i&gt; for information and instructions about finding the SSH fingerprint. 
     * @param body  (required)
     * @param fileName Destination filename (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call copyFromRemoteFileCopyFromRemoteFileAsync(CopyFromRemoteFileProperties body, String fileName, final ApiCallback<FileProperties> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = copyFromRemoteFileCopyFromRemoteFileValidateBeforeCall(body, fileName, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<FileProperties>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for copyToRemoteFileCopyToRemoteFile
     * @param body  (required)
     * @param fileName Destination filename (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call copyToRemoteFileCopyToRemoteFileCall(CopyToRemoteFileProperties body, String fileName, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/node/file-store/{file-name}?action=copy_to_remote_file"
            .replaceAll("\\{" + "file-name" + "\\}", apiClient.escapeString(fileName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call copyToRemoteFileCopyToRemoteFileValidateBeforeCall(CopyToRemoteFileProperties body, String fileName, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling copyToRemoteFileCopyToRemoteFile(Async)");
        }
        // verify the required parameter 'fileName' is set
        if (fileName == null) {
            throw new ApiException("Missing the required parameter 'fileName' when calling copyToRemoteFileCopyToRemoteFile(Async)");
        }
        
        com.squareup.okhttp.Call call = copyToRemoteFileCopyToRemoteFileCall(body, fileName, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Copy file in the file store to a remote file store
     * Copy a file in the file store to a remote server. If you use scp or sftp, you must provide the remote server&#x27;s SSH fingerprint. See the &lt;i&gt;NSX-T Administration Guide&lt;/i&gt; for information and instructions about finding the SSH fingerprint. 
     * @param body  (required)
     * @param fileName Destination filename (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void copyToRemoteFileCopyToRemoteFile(CopyToRemoteFileProperties body, String fileName) throws ApiException {
        copyToRemoteFileCopyToRemoteFileWithHttpInfo(body, fileName);
    }

    /**
     * Copy file in the file store to a remote file store
     * Copy a file in the file store to a remote server. If you use scp or sftp, you must provide the remote server&#x27;s SSH fingerprint. See the &lt;i&gt;NSX-T Administration Guide&lt;/i&gt; for information and instructions about finding the SSH fingerprint. 
     * @param body  (required)
     * @param fileName Destination filename (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> copyToRemoteFileCopyToRemoteFileWithHttpInfo(CopyToRemoteFileProperties body, String fileName) throws ApiException {
        com.squareup.okhttp.Call call = copyToRemoteFileCopyToRemoteFileValidateBeforeCall(body, fileName, null, null);
        return apiClient.execute(call);
    }

    /**
     * Copy file in the file store to a remote file store (asynchronously)
     * Copy a file in the file store to a remote server. If you use scp or sftp, you must provide the remote server&#x27;s SSH fingerprint. See the &lt;i&gt;NSX-T Administration Guide&lt;/i&gt; for information and instructions about finding the SSH fingerprint. 
     * @param body  (required)
     * @param fileName Destination filename (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call copyToRemoteFileCopyToRemoteFileAsync(CopyToRemoteFileProperties body, String fileName, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = copyToRemoteFileCopyToRemoteFileValidateBeforeCall(body, fileName, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for createApplianceManagementServiceActionRestart
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createApplianceManagementServiceActionRestartCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/node/services/node-mgmt?action=restart";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createApplianceManagementServiceActionRestartValidateBeforeCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = createApplianceManagementServiceActionRestartCall(progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Restart the node management service
     * Restart the node management service
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void createApplianceManagementServiceActionRestart() throws ApiException {
        createApplianceManagementServiceActionRestartWithHttpInfo();
    }

    /**
     * Restart the node management service
     * Restart the node management service
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> createApplianceManagementServiceActionRestartWithHttpInfo() throws ApiException {
        com.squareup.okhttp.Call call = createApplianceManagementServiceActionRestartValidateBeforeCall(null, null);
        return apiClient.execute(call);
    }

    /**
     * Restart the node management service (asynchronously)
     * Restart the node management service
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createApplianceManagementServiceActionRestartAsync(final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createApplianceManagementServiceActionRestartValidateBeforeCall(progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for createClusterBootManagerServiceActionRestart
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createClusterBootManagerServiceActionRestartCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/node/services/cluster_manager?action=restart";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createClusterBootManagerServiceActionRestartValidateBeforeCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = createClusterBootManagerServiceActionRestartCall(progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Restart, start or stop the cluster boot manager service
     * Restart, start or stop the cluster boot manager service
     * @return NodeServiceStatusProperties
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public NodeServiceStatusProperties createClusterBootManagerServiceActionRestart() throws ApiException {
        ApiResponse<NodeServiceStatusProperties> resp = createClusterBootManagerServiceActionRestartWithHttpInfo();
        return resp.getData();
    }

    /**
     * Restart, start or stop the cluster boot manager service
     * Restart, start or stop the cluster boot manager service
     * @return ApiResponse&lt;NodeServiceStatusProperties&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<NodeServiceStatusProperties> createClusterBootManagerServiceActionRestartWithHttpInfo() throws ApiException {
        com.squareup.okhttp.Call call = createClusterBootManagerServiceActionRestartValidateBeforeCall(null, null);
        Type localVarReturnType = new TypeToken<NodeServiceStatusProperties>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Restart, start or stop the cluster boot manager service (asynchronously)
     * Restart, start or stop the cluster boot manager service
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createClusterBootManagerServiceActionRestartAsync(final ApiCallback<NodeServiceStatusProperties> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createClusterBootManagerServiceActionRestartValidateBeforeCall(progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<NodeServiceStatusProperties>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createClusterBootManagerServiceActionStart
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createClusterBootManagerServiceActionStartCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/node/services/cluster_manager?action=start";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createClusterBootManagerServiceActionStartValidateBeforeCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = createClusterBootManagerServiceActionStartCall(progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Restart, start or stop the cluster boot manager service
     * Restart, start or stop the cluster boot manager service
     * @return NodeServiceStatusProperties
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public NodeServiceStatusProperties createClusterBootManagerServiceActionStart() throws ApiException {
        ApiResponse<NodeServiceStatusProperties> resp = createClusterBootManagerServiceActionStartWithHttpInfo();
        return resp.getData();
    }

    /**
     * Restart, start or stop the cluster boot manager service
     * Restart, start or stop the cluster boot manager service
     * @return ApiResponse&lt;NodeServiceStatusProperties&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<NodeServiceStatusProperties> createClusterBootManagerServiceActionStartWithHttpInfo() throws ApiException {
        com.squareup.okhttp.Call call = createClusterBootManagerServiceActionStartValidateBeforeCall(null, null);
        Type localVarReturnType = new TypeToken<NodeServiceStatusProperties>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Restart, start or stop the cluster boot manager service (asynchronously)
     * Restart, start or stop the cluster boot manager service
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createClusterBootManagerServiceActionStartAsync(final ApiCallback<NodeServiceStatusProperties> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createClusterBootManagerServiceActionStartValidateBeforeCall(progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<NodeServiceStatusProperties>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createClusterBootManagerServiceActionStop
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createClusterBootManagerServiceActionStopCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/node/services/cluster_manager?action=stop";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createClusterBootManagerServiceActionStopValidateBeforeCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = createClusterBootManagerServiceActionStopCall(progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Restart, start or stop the cluster boot manager service
     * Restart, start or stop the cluster boot manager service
     * @return NodeServiceStatusProperties
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public NodeServiceStatusProperties createClusterBootManagerServiceActionStop() throws ApiException {
        ApiResponse<NodeServiceStatusProperties> resp = createClusterBootManagerServiceActionStopWithHttpInfo();
        return resp.getData();
    }

    /**
     * Restart, start or stop the cluster boot manager service
     * Restart, start or stop the cluster boot manager service
     * @return ApiResponse&lt;NodeServiceStatusProperties&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<NodeServiceStatusProperties> createClusterBootManagerServiceActionStopWithHttpInfo() throws ApiException {
        com.squareup.okhttp.Call call = createClusterBootManagerServiceActionStopValidateBeforeCall(null, null);
        Type localVarReturnType = new TypeToken<NodeServiceStatusProperties>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Restart, start or stop the cluster boot manager service (asynchronously)
     * Restart, start or stop the cluster boot manager service
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createClusterBootManagerServiceActionStopAsync(final ApiCallback<NodeServiceStatusProperties> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createClusterBootManagerServiceActionStopValidateBeforeCall(progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<NodeServiceStatusProperties>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createCminventoryServiceActionRestart
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createCminventoryServiceActionRestartCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/node/services/cm-inventory?action=restart";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createCminventoryServiceActionRestartValidateBeforeCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = createCminventoryServiceActionRestartCall(progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Restart, start or stop the manager service
     * Restart, start or stop the manager service
     * @return NodeServiceStatusProperties
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public NodeServiceStatusProperties createCminventoryServiceActionRestart() throws ApiException {
        ApiResponse<NodeServiceStatusProperties> resp = createCminventoryServiceActionRestartWithHttpInfo();
        return resp.getData();
    }

    /**
     * Restart, start or stop the manager service
     * Restart, start or stop the manager service
     * @return ApiResponse&lt;NodeServiceStatusProperties&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<NodeServiceStatusProperties> createCminventoryServiceActionRestartWithHttpInfo() throws ApiException {
        com.squareup.okhttp.Call call = createCminventoryServiceActionRestartValidateBeforeCall(null, null);
        Type localVarReturnType = new TypeToken<NodeServiceStatusProperties>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Restart, start or stop the manager service (asynchronously)
     * Restart, start or stop the manager service
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createCminventoryServiceActionRestartAsync(final ApiCallback<NodeServiceStatusProperties> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createCminventoryServiceActionRestartValidateBeforeCall(progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<NodeServiceStatusProperties>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createCminventoryServiceActionStart
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createCminventoryServiceActionStartCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/node/services/cm-inventory?action=start";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createCminventoryServiceActionStartValidateBeforeCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = createCminventoryServiceActionStartCall(progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Restart, start or stop the manager service
     * Restart, start or stop the manager service
     * @return NodeServiceStatusProperties
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public NodeServiceStatusProperties createCminventoryServiceActionStart() throws ApiException {
        ApiResponse<NodeServiceStatusProperties> resp = createCminventoryServiceActionStartWithHttpInfo();
        return resp.getData();
    }

    /**
     * Restart, start or stop the manager service
     * Restart, start or stop the manager service
     * @return ApiResponse&lt;NodeServiceStatusProperties&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<NodeServiceStatusProperties> createCminventoryServiceActionStartWithHttpInfo() throws ApiException {
        com.squareup.okhttp.Call call = createCminventoryServiceActionStartValidateBeforeCall(null, null);
        Type localVarReturnType = new TypeToken<NodeServiceStatusProperties>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Restart, start or stop the manager service (asynchronously)
     * Restart, start or stop the manager service
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createCminventoryServiceActionStartAsync(final ApiCallback<NodeServiceStatusProperties> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createCminventoryServiceActionStartValidateBeforeCall(progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<NodeServiceStatusProperties>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createCminventoryServiceActionStop
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createCminventoryServiceActionStopCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/node/services/cm-inventory?action=stop";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createCminventoryServiceActionStopValidateBeforeCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = createCminventoryServiceActionStopCall(progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Restart, start or stop the manager service
     * Restart, start or stop the manager service
     * @return NodeServiceStatusProperties
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public NodeServiceStatusProperties createCminventoryServiceActionStop() throws ApiException {
        ApiResponse<NodeServiceStatusProperties> resp = createCminventoryServiceActionStopWithHttpInfo();
        return resp.getData();
    }

    /**
     * Restart, start or stop the manager service
     * Restart, start or stop the manager service
     * @return ApiResponse&lt;NodeServiceStatusProperties&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<NodeServiceStatusProperties> createCminventoryServiceActionStopWithHttpInfo() throws ApiException {
        com.squareup.okhttp.Call call = createCminventoryServiceActionStopValidateBeforeCall(null, null);
        Type localVarReturnType = new TypeToken<NodeServiceStatusProperties>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Restart, start or stop the manager service (asynchronously)
     * Restart, start or stop the manager service
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createCminventoryServiceActionStopAsync(final ApiCallback<NodeServiceStatusProperties> callback) throws ApiException {

[...]
