/*
 * NSX-T Manager API
 * VMware NSX-T Manager REST API
 *
 * OpenAPI spec version: 2.5.1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.ApiError;
import io.swagger.client.model.BfdConfig;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ManagementPlaneApiLogicalRoutingAndServicesRoutingBfdConfigurationApi {
    private ApiClient apiClient;

    public ManagementPlaneApiLogicalRoutingAndServicesRoutingBfdConfigurationApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ManagementPlaneApiLogicalRoutingAndServicesRoutingBfdConfigurationApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for readRoutingBfdConfig
     * @param logicalRouterId  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call readRoutingBfdConfigCall(String logicalRouterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/logical-routers/{logical-router-id}/routing/bfd-config"
            .replaceAll("\\{" + "logical-router-id" + "\\}", apiClient.escapeString(logicalRouterId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call readRoutingBfdConfigValidateBeforeCall(String logicalRouterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'logicalRouterId' is set
        if (logicalRouterId == null) {
            throw new ApiException("Missing the required parameter 'logicalRouterId' when calling readRoutingBfdConfig(Async)");
        }
        
        com.squareup.okhttp.Call call = readRoutingBfdConfigCall(logicalRouterId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Read the Routing BFD Configuration
     * Returns the BFD configuration for all routing BFD peers. This will be inherited |   by all BFD peers for LogicalRouter unless overriden while configuring the Peer. 
     * @param logicalRouterId  (required)
     * @return BfdConfig
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public BfdConfig readRoutingBfdConfig(String logicalRouterId) throws ApiException {
        ApiResponse<BfdConfig> resp = readRoutingBfdConfigWithHttpInfo(logicalRouterId);
        return resp.getData();
    }

    /**
     * Read the Routing BFD Configuration
     * Returns the BFD configuration for all routing BFD peers. This will be inherited |   by all BFD peers for LogicalRouter unless overriden while configuring the Peer. 
     * @param logicalRouterId  (required)
     * @return ApiResponse&lt;BfdConfig&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<BfdConfig> readRoutingBfdConfigWithHttpInfo(String logicalRouterId) throws ApiException {
        com.squareup.okhttp.Call call = readRoutingBfdConfigValidateBeforeCall(logicalRouterId, null, null);
        Type localVarReturnType = new TypeToken<BfdConfig>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Read the Routing BFD Configuration (asynchronously)
     * Returns the BFD configuration for all routing BFD peers. This will be inherited |   by all BFD peers for LogicalRouter unless overriden while configuring the Peer. 
     * @param logicalRouterId  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call readRoutingBfdConfigAsync(String logicalRouterId, final ApiCallback<BfdConfig> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = readRoutingBfdConfigValidateBeforeCall(logicalRouterId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<BfdConfig>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for updateRoutingBfdConfig
     * @param body  (required)
     * @param logicalRouterId  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call updateRoutingBfdConfigCall(BfdConfig body, String logicalRouterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/logical-routers/{logical-router-id}/routing/bfd-config"
            .replaceAll("\\{" + "logical-router-id" + "\\}", apiClient.escapeString(logicalRouterId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call updateRoutingBfdConfigValidateBeforeCall(BfdConfig body, String logicalRouterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling updateRoutingBfdConfig(Async)");
        }
        // verify the required parameter 'logicalRouterId' is set
        if (logicalRouterId == null) {
            throw new ApiException("Missing the required parameter 'logicalRouterId' when calling updateRoutingBfdConfig(Async)");
        }
        
        com.squareup.okhttp.Call call = updateRoutingBfdConfigCall(body, logicalRouterId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Update the BFD Configuration for BFD peers for routing
     * Modifies the BFD configuration for routing BFD peers. Note - the configuration |   changes apply only to those routing BFD peers for which the BFD configuration has |   not been overridden at Peer level. 
     * @param body  (required)
     * @param logicalRouterId  (required)
     * @return BfdConfig
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public BfdConfig updateRoutingBfdConfig(BfdConfig body, String logicalRouterId) throws ApiException {
        ApiResponse<BfdConfig> resp = updateRoutingBfdConfigWithHttpInfo(body, logicalRouterId);
        return resp.getData();
    }

    /**
     * Update the BFD Configuration for BFD peers for routing
     * Modifies the BFD configuration for routing BFD peers. Note - the configuration |   changes apply only to those routing BFD peers for which the BFD configuration has |   not been overridden at Peer level. 
     * @param body  (required)
     * @param logicalRouterId  (required)
     * @return ApiResponse&lt;BfdConfig&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<BfdConfig> updateRoutingBfdConfigWithHttpInfo(BfdConfig body, String logicalRouterId) throws ApiException {
        com.squareup.okhttp.Call call = updateRoutingBfdConfigValidateBeforeCall(body, logicalRouterId, null, null);
        Type localVarReturnType = new TypeToken<BfdConfig>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Update the BFD Configuration for BFD peers for routing (asynchronously)
     * Modifies the BFD configuration for routing BFD peers. Note - the configuration |   changes apply only to those routing BFD peers for which the BFD configuration has |   not been overridden at Peer level. 
     * @param body  (required)
     * @param logicalRouterId  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call updateRoutingBfdConfigAsync(BfdConfig body, String logicalRouterId, final ApiCallback<BfdConfig> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = updateRoutingBfdConfigValidateBeforeCall(body, logicalRouterId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<BfdConfig>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
