/*
 * NSX-T Manager API
 * VMware NSX-T Manager REST API
 *
 * OpenAPI spec version: 2.5.1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.ApiError;
import io.swagger.client.model.IPSecVPNLocalEndpoint;
import io.swagger.client.model.IPSecVPNLocalEndpointListResult;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ManagementPlaneApiVpnIpsecLocalEndpointsApi {
    private ApiClient apiClient;

    public ManagementPlaneApiVpnIpsecLocalEndpointsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ManagementPlaneApiVpnIpsecLocalEndpointsApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for createIPSecVPNLocalEndpoint
     * @param body  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createIPSecVPNLocalEndpointCall(IPSecVPNLocalEndpoint body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/vpn/ipsec/local-endpoints";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createIPSecVPNLocalEndpointValidateBeforeCall(IPSecVPNLocalEndpoint body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling createIPSecVPNLocalEndpoint(Async)");
        }
        
        com.squareup.okhttp.Call call = createIPSecVPNLocalEndpointCall(body, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Create custom local endpoint
     * Create custom IPSec local endpoint.
     * @param body  (required)
     * @return IPSecVPNLocalEndpoint
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public IPSecVPNLocalEndpoint createIPSecVPNLocalEndpoint(IPSecVPNLocalEndpoint body) throws ApiException {
        ApiResponse<IPSecVPNLocalEndpoint> resp = createIPSecVPNLocalEndpointWithHttpInfo(body);
        return resp.getData();
    }

    /**
     * Create custom local endpoint
     * Create custom IPSec local endpoint.
     * @param body  (required)
     * @return ApiResponse&lt;IPSecVPNLocalEndpoint&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<IPSecVPNLocalEndpoint> createIPSecVPNLocalEndpointWithHttpInfo(IPSecVPNLocalEndpoint body) throws ApiException {
        com.squareup.okhttp.Call call = createIPSecVPNLocalEndpointValidateBeforeCall(body, null, null);
        Type localVarReturnType = new TypeToken<IPSecVPNLocalEndpoint>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create custom local endpoint (asynchronously)
     * Create custom IPSec local endpoint.
     * @param body  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createIPSecVPNLocalEndpointAsync(IPSecVPNLocalEndpoint body, final ApiCallback<IPSecVPNLocalEndpoint> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createIPSecVPNLocalEndpointValidateBeforeCall(body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<IPSecVPNLocalEndpoint>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for deleteIPSecVPNLocalEndpoint
     * @param ipsecVpnLocalEndpointId  (required)
     * @param force Force delete the resource even if it is being used somewhere  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteIPSecVPNLocalEndpointCall(String ipsecVpnLocalEndpointId, Boolean force, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/vpn/ipsec/local-endpoints/{ipsec-vpn-local-endpoint-id}"
            .replaceAll("\\{" + "ipsec-vpn-local-endpoint-id" + "\\}", apiClient.escapeString(ipsecVpnLocalEndpointId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (force != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("force", force));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteIPSecVPNLocalEndpointValidateBeforeCall(String ipsecVpnLocalEndpointId, Boolean force, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'ipsecVpnLocalEndpointId' is set
        if (ipsecVpnLocalEndpointId == null) {
            throw new ApiException("Missing the required parameter 'ipsecVpnLocalEndpointId' when calling deleteIPSecVPNLocalEndpoint(Async)");
        }
        
        com.squareup.okhttp.Call call = deleteIPSecVPNLocalEndpointCall(ipsecVpnLocalEndpointId, force, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Delete custom IPSec local endpoint
     * Delete custom IPSec local endpoint.
     * @param ipsecVpnLocalEndpointId  (required)
     * @param force Force delete the resource even if it is being used somewhere  (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deleteIPSecVPNLocalEndpoint(String ipsecVpnLocalEndpointId, Boolean force) throws ApiException {
        deleteIPSecVPNLocalEndpointWithHttpInfo(ipsecVpnLocalEndpointId, force);
    }

    /**
     * Delete custom IPSec local endpoint
     * Delete custom IPSec local endpoint.
     * @param ipsecVpnLocalEndpointId  (required)
     * @param force Force delete the resource even if it is being used somewhere  (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteIPSecVPNLocalEndpointWithHttpInfo(String ipsecVpnLocalEndpointId, Boolean force) throws ApiException {
        com.squareup.okhttp.Call call = deleteIPSecVPNLocalEndpointValidateBeforeCall(ipsecVpnLocalEndpointId, force, null, null);
        return apiClient.execute(call);
    }

    /**
     * Delete custom IPSec local endpoint (asynchronously)
     * Delete custom IPSec local endpoint.
     * @param ipsecVpnLocalEndpointId  (required)
     * @param force Force delete the resource even if it is being used somewhere  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteIPSecVPNLocalEndpointAsync(String ipsecVpnLocalEndpointId, Boolean force, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteIPSecVPNLocalEndpointValidateBeforeCall(ipsecVpnLocalEndpointId, force, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for getIPSecVPNLocalEndpoint
     * @param ipsecVpnLocalEndpointId  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getIPSecVPNLocalEndpointCall(String ipsecVpnLocalEndpointId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/vpn/ipsec/local-endpoints/{ipsec-vpn-local-endpoint-id}"
            .replaceAll("\\{" + "ipsec-vpn-local-endpoint-id" + "\\}", apiClient.escapeString(ipsecVpnLocalEndpointId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getIPSecVPNLocalEndpointValidateBeforeCall(String ipsecVpnLocalEndpointId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'ipsecVpnLocalEndpointId' is set
        if (ipsecVpnLocalEndpointId == null) {
            throw new ApiException("Missing the required parameter 'ipsecVpnLocalEndpointId' when calling getIPSecVPNLocalEndpoint(Async)");
        }
        
        com.squareup.okhttp.Call call = getIPSecVPNLocalEndpointCall(ipsecVpnLocalEndpointId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get custom IPSec local endpoint
     * Get custom IPSec local endpoint.
     * @param ipsecVpnLocalEndpointId  (required)
     * @return IPSecVPNLocalEndpoint
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public IPSecVPNLocalEndpoint getIPSecVPNLocalEndpoint(String ipsecVpnLocalEndpointId) throws ApiException {
        ApiResponse<IPSecVPNLocalEndpoint> resp = getIPSecVPNLocalEndpointWithHttpInfo(ipsecVpnLocalEndpointId);
        return resp.getData();
    }

    /**
     * Get custom IPSec local endpoint
     * Get custom IPSec local endpoint.
     * @param ipsecVpnLocalEndpointId  (required)
     * @return ApiResponse&lt;IPSecVPNLocalEndpoint&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<IPSecVPNLocalEndpoint> getIPSecVPNLocalEndpointWithHttpInfo(String ipsecVpnLocalEndpointId) throws ApiException {
        com.squareup.okhttp.Call call = getIPSecVPNLocalEndpointValidateBeforeCall(ipsecVpnLocalEndpointId, null, null);
        Type localVarReturnType = new TypeToken<IPSecVPNLocalEndpoint>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get custom IPSec local endpoint (asynchronously)
     * Get custom IPSec local endpoint.
     * @param ipsecVpnLocalEndpointId  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getIPSecVPNLocalEndpointAsync(String ipsecVpnLocalEndpointId, final ApiCallback<IPSecVPNLocalEndpoint> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getIPSecVPNLocalEndpointValidateBeforeCall(ipsecVpnLocalEndpointId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<IPSecVPNLocalEndpoint>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for listIPSecVPNLocalEndpoints
     * @param cursor Opaque cursor to be used for getting next page of records (supplied by current result page) (optional)
     * @param includedFields Comma separated list of fields that should be included in query result (optional)
     * @param ipsecVpnServiceId Id of the IPSec VPN service (optional)
     * @param logicalRouterId Id of logical router (optional)
     * @param pageSize Maximum number of results to return in this page (server may return fewer) (optional)
     * @param sortAscending  (optional)
     * @param sortBy Field by which records are sorted (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call listIPSecVPNLocalEndpointsCall(String cursor, String includedFields, String ipsecVpnServiceId, String logicalRouterId, Long pageSize, Boolean sortAscending, String sortBy, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/vpn/ipsec/local-endpoints";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (cursor != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("cursor", cursor));
        if (includedFields != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("included_fields", includedFields));
        if (ipsecVpnServiceId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("ipsec_vpn_service_id", ipsecVpnServiceId));
        if (logicalRouterId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("logical_router_id", logicalRouterId));
        if (pageSize != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page_size", pageSize));
        if (sortAscending != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sort_ascending", sortAscending));
        if (sortBy != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sort_by", sortBy));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call listIPSecVPNLocalEndpointsValidateBeforeCall(String cursor, String includedFields, String ipsecVpnServiceId, String logicalRouterId, Long pageSize, Boolean sortAscending, String sortBy, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = listIPSecVPNLocalEndpointsCall(cursor, includedFields, ipsecVpnServiceId, logicalRouterId, pageSize, sortAscending, sortBy, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get IPSec local endpoint list result
     * Get paginated list of all local endpoints.
     * @param cursor Opaque cursor to be used for getting next page of records (supplied by current result page) (optional)
     * @param includedFields Comma separated list of fields that should be included in query result (optional)
     * @param ipsecVpnServiceId Id of the IPSec VPN service (optional)
     * @param logicalRouterId Id of logical router (optional)
     * @param pageSize Maximum number of results to return in this page (server may return fewer) (optional)
     * @param sortAscending  (optional)
     * @param sortBy Field by which records are sorted (optional)
     * @return IPSecVPNLocalEndpointListResult
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public IPSecVPNLocalEndpointListResult listIPSecVPNLocalEndpoints(String cursor, String includedFields, String ipsecVpnServiceId, String logicalRouterId, Long pageSize, Boolean sortAscending, String sortBy) throws ApiException {
        ApiResponse<IPSecVPNLocalEndpointListResult> resp = listIPSecVPNLocalEndpointsWithHttpInfo(cursor, includedFields, ipsecVpnServiceId, logicalRouterId, pageSize, sortAscending, sortBy);
        return resp.getData();
    }

    /**
     * Get IPSec local endpoint list result
     * Get paginated list of all local endpoints.
     * @param cursor Opaque cursor to be used for getting next page of records (supplied by current result page) (optional)
     * @param includedFields Comma separated list of fields that should be included in query result (optional)
     * @param ipsecVpnServiceId Id of the IPSec VPN service (optional)
     * @param logicalRouterId Id of logical router (optional)
     * @param pageSize Maximum number of results to return in this page (server may return fewer) (optional)
     * @param sortAscending  (optional)
     * @param sortBy Field by which records are sorted (optional)
     * @return ApiResponse&lt;IPSecVPNLocalEndpointListResult&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<IPSecVPNLocalEndpointListResult> listIPSecVPNLocalEndpointsWithHttpInfo(String cursor, String includedFields, String ipsecVpnServiceId, String logicalRouterId, Long pageSize, Boolean sortAscending, String sortBy) throws ApiException {
        com.squareup.okhttp.Call call = listIPSecVPNLocalEndpointsValidateBeforeCall(cursor, includedFields, ipsecVpnServiceId, logicalRouterId, pageSize, sortAscending, sortBy, null, null);
        Type localVarReturnType = new TypeToken<IPSecVPNLocalEndpointListResult>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get IPSec local endpoint list result (asynchronously)
     * Get paginated list of all local endpoints.
     * @param cursor Opaque cursor to be used for getting next page of records (supplied by current result page) (optional)
     * @param includedFields Comma separated list of fields that should be included in query result (optional)
     * @param ipsecVpnServiceId Id of the IPSec VPN service (optional)
     * @param logicalRouterId Id of logical router (optional)
     * @param pageSize Maximum number of results to return in this page (server may return fewer) (optional)
     * @param sortAscending  (optional)
     * @param sortBy Field by which records are sorted (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call listIPSecVPNLocalEndpointsAsync(String cursor, String includedFields, String ipsecVpnServiceId, String logicalRouterId, Long pageSize, Boolean sortAscending, String sortBy, final ApiCallback<IPSecVPNLocalEndpointListResult> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = listIPSecVPNLocalEndpointsValidateBeforeCall(cursor, includedFields, ipsecVpnServiceId, logicalRouterId, pageSize, sortAscending, sortBy, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<IPSecVPNLocalEndpointListResult>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for updateIPSecVPNLocalEndpoint
     * @param body  (required)
     * @param ipsecVpnLocalEndpointId  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call updateIPSecVPNLocalEndpointCall(IPSecVPNLocalEndpoint body, String ipsecVpnLocalEndpointId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/vpn/ipsec/local-endpoints/{ipsec-vpn-local-endpoint-id}"
            .replaceAll("\\{" + "ipsec-vpn-local-endpoint-id" + "\\}", apiClient.escapeString(ipsecVpnLocalEndpointId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call updateIPSecVPNLocalEndpointValidateBeforeCall(IPSecVPNLocalEndpoint body, String ipsecVpnLocalEndpointId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling updateIPSecVPNLocalEndpoint(Async)");
        }
        // verify the required parameter 'ipsecVpnLocalEndpointId' is set
        if (ipsecVpnLocalEndpointId == null) {
            throw new ApiException("Missing the required parameter 'ipsecVpnLocalEndpointId' when calling updateIPSecVPNLocalEndpoint(Async)");
        }
        
        com.squareup.okhttp.Call call = updateIPSecVPNLocalEndpointCall(body, ipsecVpnLocalEndpointId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Edit custom IPSec local endpoint
     * Edit custom IPSec local endpoint.
     * @param body  (required)
     * @param ipsecVpnLocalEndpointId  (required)
     * @return IPSecVPNLocalEndpoint
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public IPSecVPNLocalEndpoint updateIPSecVPNLocalEndpoint(IPSecVPNLocalEndpoint body, String ipsecVpnLocalEndpointId) throws ApiException {
        ApiResponse<IPSecVPNLocalEndpoint> resp = updateIPSecVPNLocalEndpointWithHttpInfo(body, ipsecVpnLocalEndpointId);
        return resp.getData();
    }

    /**
     * Edit custom IPSec local endpoint
     * Edit custom IPSec local endpoint.
     * @param body  (required)
     * @param ipsecVpnLocalEndpointId  (required)
     * @return ApiResponse&lt;IPSecVPNLocalEndpoint&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<IPSecVPNLocalEndpoint> updateIPSecVPNLocalEndpointWithHttpInfo(IPSecVPNLocalEndpoint body, String ipsecVpnLocalEndpointId) throws ApiException {
        com.squareup.okhttp.Call call = updateIPSecVPNLocalEndpointValidateBeforeCall(body, ipsecVpnLocalEndpointId, null, null);
        Type localVarReturnType = new TypeToken<IPSecVPNLocalEndpoint>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Edit custom IPSec local endpoint (asynchronously)
     * Edit custom IPSec local endpoint.
     * @param body  (required)
     * @param ipsecVpnLocalEndpointId  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call updateIPSecVPNLocalEndpointAsync(IPSecVPNLocalEndpoint body, String ipsecVpnLocalEndpointId, final ApiCallback<IPSecVPNLocalEndpoint> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = updateIPSecVPNLocalEndpointValidateBeforeCall(body, ipsecVpnLocalEndpointId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<IPSecVPNLocalEndpoint>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
