/*
 * NSX-T Manager API
 * VMware NSX-T Manager REST API
 *
 * OpenAPI spec version: 2.5.1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.ApiError;
import io.swagger.client.model.IPSecVPNIKEServiceSummary;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ManagementPlaneApiVpnStatisticsIkeServiceApi {
    private ApiClient apiClient;

    public ManagementPlaneApiVpnStatisticsIkeServiceApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ManagementPlaneApiVpnStatisticsIkeServiceApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for getIPSecVPNIKEService
     * @param serviceId  (required)
     * @param source Data source type. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getIPSecVPNIKEServiceCall(String serviceId, String source, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/vpn/services/{service-id}/summary"
            .replaceAll("\\{" + "service-id" + "\\}", apiClient.escapeString(serviceId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (source != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("source", source));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getIPSecVPNIKEServiceValidateBeforeCall(String serviceId, String source, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'serviceId' is set
        if (serviceId == null) {
            throw new ApiException("Missing the required parameter 'serviceId' when calling getIPSecVPNIKEService(Async)");
        }
        
        com.squareup.okhttp.Call call = getIPSecVPNIKEServiceCall(serviceId, source, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Cumulative statistics for one IKE service instance
     * Cumulative statistics for one IKE service instance. Query parameter source supports only cached mode.
     * @param serviceId  (required)
     * @param source Data source type. (optional)
     * @return IPSecVPNIKEServiceSummary
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public IPSecVPNIKEServiceSummary getIPSecVPNIKEService(String serviceId, String source) throws ApiException {
        ApiResponse<IPSecVPNIKEServiceSummary> resp = getIPSecVPNIKEServiceWithHttpInfo(serviceId, source);
        return resp.getData();
    }

    /**
     * Cumulative statistics for one IKE service instance
     * Cumulative statistics for one IKE service instance. Query parameter source supports only cached mode.
     * @param serviceId  (required)
     * @param source Data source type. (optional)
     * @return ApiResponse&lt;IPSecVPNIKEServiceSummary&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<IPSecVPNIKEServiceSummary> getIPSecVPNIKEServiceWithHttpInfo(String serviceId, String source) throws ApiException {
        com.squareup.okhttp.Call call = getIPSecVPNIKEServiceValidateBeforeCall(serviceId, source, null, null);
        Type localVarReturnType = new TypeToken<IPSecVPNIKEServiceSummary>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Cumulative statistics for one IKE service instance (asynchronously)
     * Cumulative statistics for one IKE service instance. Query parameter source supports only cached mode.
     * @param serviceId  (required)
     * @param source Data source type. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getIPSecVPNIKEServiceAsync(String serviceId, String source, final ApiCallback<IPSecVPNIKEServiceSummary> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getIPSecVPNIKEServiceValidateBeforeCall(serviceId, source, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<IPSecVPNIKEServiceSummary>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
