/*
 * NSX-T Manager API
 * VMware NSX-T Manager REST API
 *
 * OpenAPI spec version: 2.5.1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.ApiError;
import io.swagger.client.model.VirtualNetworkInterfaceListResult;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ManagementPlaneApiFabricVifsApi {
    private ApiClient apiClient;

    public ManagementPlaneApiFabricVifsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ManagementPlaneApiFabricVifsApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for listVifs
     * @param cursor Opaque cursor to be used for getting next page of records (supplied by current result page) (optional)
     * @param hostId Id of the host where this vif is located. (optional)
     * @param includedFields Comma separated list of fields that should be included in query result (optional)
     * @param lportAttachmentId LPort Attachment Id of the virtual network interface. (optional)
     * @param ownerVmId External id of the virtual machine. (optional)
     * @param pageSize Maximum number of results to return in this page (server may return fewer) (optional)
     * @param sortAscending  (optional)
     * @param sortBy Field by which records are sorted (optional)
     * @param vmId External id of the virtual machine. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call listVifsCall(String cursor, String hostId, String includedFields, String lportAttachmentId, String ownerVmId, Long pageSize, Boolean sortAscending, String sortBy, String vmId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/fabric/vifs";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (cursor != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("cursor", cursor));
        if (hostId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("host_id", hostId));
        if (includedFields != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("included_fields", includedFields));
        if (lportAttachmentId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("lport_attachment_id", lportAttachmentId));
        if (ownerVmId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("owner_vm_id", ownerVmId));
        if (pageSize != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page_size", pageSize));
        if (sortAscending != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sort_ascending", sortAscending));
        if (sortBy != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sort_by", sortBy));
        if (vmId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("vm_id", vmId));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call listVifsValidateBeforeCall(String cursor, String hostId, String includedFields, String lportAttachmentId, String ownerVmId, Long pageSize, Boolean sortAscending, String sortBy, String vmId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = listVifsCall(cursor, hostId, includedFields, lportAttachmentId, ownerVmId, pageSize, sortAscending, sortBy, vmId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Return the List of Virtual Network Interfaces (VIFs)
     * Returns information about all VIFs. A virtual network interface aggregates network interfaces into a logical interface unit that is indistinuishable from a physical network interface. 
     * @param cursor Opaque cursor to be used for getting next page of records (supplied by current result page) (optional)
     * @param hostId Id of the host where this vif is located. (optional)
     * @param includedFields Comma separated list of fields that should be included in query result (optional)
     * @param lportAttachmentId LPort Attachment Id of the virtual network interface. (optional)
     * @param ownerVmId External id of the virtual machine. (optional)
     * @param pageSize Maximum number of results to return in this page (server may return fewer) (optional)
     * @param sortAscending  (optional)
     * @param sortBy Field by which records are sorted (optional)
     * @param vmId External id of the virtual machine. (optional)
     * @return VirtualNetworkInterfaceListResult
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public VirtualNetworkInterfaceListResult listVifs(String cursor, String hostId, String includedFields, String lportAttachmentId, String ownerVmId, Long pageSize, Boolean sortAscending, String sortBy, String vmId) throws ApiException {
        ApiResponse<VirtualNetworkInterfaceListResult> resp = listVifsWithHttpInfo(cursor, hostId, includedFields, lportAttachmentId, ownerVmId, pageSize, sortAscending, sortBy, vmId);
        return resp.getData();
    }

    /**
     * Return the List of Virtual Network Interfaces (VIFs)
     * Returns information about all VIFs. A virtual network interface aggregates network interfaces into a logical interface unit that is indistinuishable from a physical network interface. 
     * @param cursor Opaque cursor to be used for getting next page of records (supplied by current result page) (optional)
     * @param hostId Id of the host where this vif is located. (optional)
     * @param includedFields Comma separated list of fields that should be included in query result (optional)
     * @param lportAttachmentId LPort Attachment Id of the virtual network interface. (optional)
     * @param ownerVmId External id of the virtual machine. (optional)
     * @param pageSize Maximum number of results to return in this page (server may return fewer) (optional)
     * @param sortAscending  (optional)
     * @param sortBy Field by which records are sorted (optional)
     * @param vmId External id of the virtual machine. (optional)
     * @return ApiResponse&lt;VirtualNetworkInterfaceListResult&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<VirtualNetworkInterfaceListResult> listVifsWithHttpInfo(String cursor, String hostId, String includedFields, String lportAttachmentId, String ownerVmId, Long pageSize, Boolean sortAscending, String sortBy, String vmId) throws ApiException {
        com.squareup.okhttp.Call call = listVifsValidateBeforeCall(cursor, hostId, includedFields, lportAttachmentId, ownerVmId, pageSize, sortAscending, sortBy, vmId, null, null);
        Type localVarReturnType = new TypeToken<VirtualNetworkInterfaceListResult>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Return the List of Virtual Network Interfaces (VIFs) (asynchronously)
     * Returns information about all VIFs. A virtual network interface aggregates network interfaces into a logical interface unit that is indistinuishable from a physical network interface. 
     * @param cursor Opaque cursor to be used for getting next page of records (supplied by current result page) (optional)
     * @param hostId Id of the host where this vif is located. (optional)
     * @param includedFields Comma separated list of fields that should be included in query result (optional)
     * @param lportAttachmentId LPort Attachment Id of the virtual network interface. (optional)
     * @param ownerVmId External id of the virtual machine. (optional)
     * @param pageSize Maximum number of results to return in this page (server may return fewer) (optional)
     * @param sortAscending  (optional)
     * @param sortBy Field by which records are sorted (optional)
     * @param vmId External id of the virtual machine. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call listVifsAsync(String cursor, String hostId, String includedFields, String lportAttachmentId, String ownerVmId, Long pageSize, Boolean sortAscending, String sortBy, String vmId, final ApiCallback<VirtualNetworkInterfaceListResult> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = listVifsValidateBeforeCall(cursor, hostId, includedFields, lportAttachmentId, ownerVmId, pageSize, sortAscending, sortBy, vmId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<VirtualNetworkInterfaceListResult>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
