/*
 * NSX-T Manager API
 * VMware NSX-T Manager REST API
 *
 * OpenAPI spec version: 2.5.1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.ApiError;
import io.swagger.client.model.StaticHopBfdPeer;
import io.swagger.client.model.StaticHopBfdPeerListResult;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ManagementPlaneApiLogicalRoutingAndServicesBfdPeersApi {
    private ApiClient apiClient;

    public ManagementPlaneApiLogicalRoutingAndServicesBfdPeersApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ManagementPlaneApiLogicalRoutingAndServicesBfdPeersApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for createStaticHopBfdPeer
     * @param body  (required)
     * @param logicalRouterId  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createStaticHopBfdPeerCall(StaticHopBfdPeer body, String logicalRouterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/logical-routers/{logical-router-id}/routing/static-routes/bfd-peers"
            .replaceAll("\\{" + "logical-router-id" + "\\}", apiClient.escapeString(logicalRouterId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createStaticHopBfdPeerValidateBeforeCall(StaticHopBfdPeer body, String logicalRouterId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling createStaticHopBfdPeer(Async)");
        }
        // verify the required parameter 'logicalRouterId' is set
        if (logicalRouterId == null) {
            throw new ApiException("Missing the required parameter 'logicalRouterId' when calling createStaticHopBfdPeer(Async)");
        }
        
        com.squareup.okhttp.Call call = createStaticHopBfdPeerCall(body, logicalRouterId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Create a static hop BFD peer
     * Creates a BFD peer for static route. The required parameters includes peer IP address. 
     * @param body  (required)
     * @param logicalRouterId  (required)
     * @return StaticHopBfdPeer
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public StaticHopBfdPeer createStaticHopBfdPeer(StaticHopBfdPeer body, String logicalRouterId) throws ApiException {
        ApiResponse<StaticHopBfdPeer> resp = createStaticHopBfdPeerWithHttpInfo(body, logicalRouterId);
        return resp.getData();
    }

    /**
     * Create a static hop BFD peer
     * Creates a BFD peer for static route. The required parameters includes peer IP address. 
     * @param body  (required)
     * @param logicalRouterId  (required)
     * @return ApiResponse&lt;StaticHopBfdPeer&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<StaticHopBfdPeer> createStaticHopBfdPeerWithHttpInfo(StaticHopBfdPeer body, String logicalRouterId) throws ApiException {
        com.squareup.okhttp.Call call = createStaticHopBfdPeerValidateBeforeCall(body, logicalRouterId, null, null);
        Type localVarReturnType = new TypeToken<StaticHopBfdPeer>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create a static hop BFD peer (asynchronously)
     * Creates a BFD peer for static route. The required parameters includes peer IP address. 
     * @param body  (required)
     * @param logicalRouterId  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createStaticHopBfdPeerAsync(StaticHopBfdPeer body, String logicalRouterId, final ApiCallback<StaticHopBfdPeer> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createStaticHopBfdPeerValidateBeforeCall(body, logicalRouterId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<StaticHopBfdPeer>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for deleteStaticHopBfdPeer
     * @param logicalRouterId  (required)
     * @param bfdPeerId  (required)
     * @param force Force delete the resource even if it is being used somewhere  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteStaticHopBfdPeerCall(String logicalRouterId, String bfdPeerId, Boolean force, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/logical-routers/{logical-router-id}/routing/static-routes/bfd-peers/{bfd-peer-id}"
            .replaceAll("\\{" + "logical-router-id" + "\\}", apiClient.escapeString(logicalRouterId.toString()))
            .replaceAll("\\{" + "bfd-peer-id" + "\\}", apiClient.escapeString(bfdPeerId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (force != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("force", force));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteStaticHopBfdPeerValidateBeforeCall(String logicalRouterId, String bfdPeerId, Boolean force, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'logicalRouterId' is set
        if (logicalRouterId == null) {
            throw new ApiException("Missing the required parameter 'logicalRouterId' when calling deleteStaticHopBfdPeer(Async)");
        }
        // verify the required parameter 'bfdPeerId' is set
        if (bfdPeerId == null) {
            throw new ApiException("Missing the required parameter 'bfdPeerId' when calling deleteStaticHopBfdPeer(Async)");
        }
        
        com.squareup.okhttp.Call call = deleteStaticHopBfdPeerCall(logicalRouterId, bfdPeerId, force, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Delete a specified static route BFD peer cofigured on a specified logical router
     * Deletes the specified BFD peer present on specified logical router. 
     * @param logicalRouterId  (required)
     * @param bfdPeerId  (required)
     * @param force Force delete the resource even if it is being used somewhere  (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deleteStaticHopBfdPeer(String logicalRouterId, String bfdPeerId, Boolean force) throws ApiException {
        deleteStaticHopBfdPeerWithHttpInfo(logicalRouterId, bfdPeerId, force);
    }

    /**
     * Delete a specified static route BFD peer cofigured on a specified logical router
     * Deletes the specified BFD peer present on specified logical router. 
     * @param logicalRouterId  (required)
     * @param bfdPeerId  (required)
     * @param force Force delete the resource even if it is being used somewhere  (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteStaticHopBfdPeerWithHttpInfo(String logicalRouterId, String bfdPeerId, Boolean force) throws ApiException {
        com.squareup.okhttp.Call call = deleteStaticHopBfdPeerValidateBeforeCall(logicalRouterId, bfdPeerId, force, null, null);
        return apiClient.execute(call);
    }

    /**
     * Delete a specified static route BFD peer cofigured on a specified logical router (asynchronously)
     * Deletes the specified BFD peer present on specified logical router. 
     * @param logicalRouterId  (required)
     * @param bfdPeerId  (required)
     * @param force Force delete the resource even if it is being used somewhere  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteStaticHopBfdPeerAsync(String logicalRouterId, String bfdPeerId, Boolean force, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteStaticHopBfdPeerValidateBeforeCall(logicalRouterId, bfdPeerId, force, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for listStaticHopBfdPeers
     * @param logicalRouterId  (required)
     * @param cursor Opaque cursor to be used for getting next page of records (supplied by current result page) (optional)
     * @param includedFields Comma separated list of fields that should be included in query result (optional)
     * @param pageSize Maximum number of results to return in this page (server may return fewer) (optional)
     * @param sortAscending  (optional)
     * @param sortBy Field by which records are sorted (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call listStaticHopBfdPeersCall(String logicalRouterId, String cursor, String includedFields, Long pageSize, Boolean sortAscending, String sortBy, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/logical-routers/{logical-router-id}/routing/static-routes/bfd-peers"
            .replaceAll("\\{" + "logical-router-id" + "\\}", apiClient.escapeString(logicalRouterId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (cursor != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("cursor", cursor));
        if (includedFields != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("included_fields", includedFields));
        if (pageSize != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page_size", pageSize));
        if (sortAscending != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sort_ascending", sortAscending));
        if (sortBy != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sort_by", sortBy));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call listStaticHopBfdPeersValidateBeforeCall(String logicalRouterId, String cursor, String includedFields, Long pageSize, Boolean sortAscending, String sortBy, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'logicalRouterId' is set
        if (logicalRouterId == null) {
            throw new ApiException("Missing the required parameter 'logicalRouterId' when calling listStaticHopBfdPeers(Async)");
        }
        
        com.squareup.okhttp.Call call = listStaticHopBfdPeersCall(logicalRouterId, cursor, includedFields, pageSize, sortAscending, sortBy, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * List static routes BFD Peers
     * Returns information about all BFD peers created on specified logical router for static routes. 
     * @param logicalRouterId  (required)
     * @param cursor Opaque cursor to be used for getting next page of records (supplied by current result page) (optional)
     * @param includedFields Comma separated list of fields that should be included in query result (optional)
     * @param pageSize Maximum number of results to return in this page (server may return fewer) (optional)
     * @param sortAscending  (optional)
     * @param sortBy Field by which records are sorted (optional)
     * @return StaticHopBfdPeerListResult
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public StaticHopBfdPeerListResult listStaticHopBfdPeers(String logicalRouterId, String cursor, String includedFields, Long pageSize, Boolean sortAscending, String sortBy) throws ApiException {
        ApiResponse<StaticHopBfdPeerListResult> resp = listStaticHopBfdPeersWithHttpInfo(logicalRouterId, cursor, includedFields, pageSize, sortAscending, sortBy);
        return resp.getData();
    }

    /**
     * List static routes BFD Peers
     * Returns information about all BFD peers created on specified logical router for static routes. 
     * @param logicalRouterId  (required)
     * @param cursor Opaque cursor to be used for getting next page of records (supplied by current result page) (optional)
     * @param includedFields Comma separated list of fields that should be included in query result (optional)
     * @param pageSize Maximum number of results to return in this page (server may return fewer) (optional)
     * @param sortAscending  (optional)
     * @param sortBy Field by which records are sorted (optional)
     * @return ApiResponse&lt;StaticHopBfdPeerListResult&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<StaticHopBfdPeerListResult> listStaticHopBfdPeersWithHttpInfo(String logicalRouterId, String cursor, String includedFields, Long pageSize, Boolean sortAscending, String sortBy) throws ApiException {
        com.squareup.okhttp.Call call = listStaticHopBfdPeersValidateBeforeCall(logicalRouterId, cursor, includedFields, pageSize, sortAscending, sortBy, null, null);
        Type localVarReturnType = new TypeToken<StaticHopBfdPeerListResult>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * List static routes BFD Peers (asynchronously)
     * Returns information about all BFD peers created on specified logical router for static routes. 
     * @param logicalRouterId  (required)
     * @param cursor Opaque cursor to be used for getting next page of records (supplied by current result page) (optional)
     * @param includedFields Comma separated list of fields that should be included in query result (optional)
     * @param pageSize Maximum number of results to return in this page (server may return fewer) (optional)
     * @param sortAscending  (optional)
     * @param sortBy Field by which records are sorted (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call listStaticHopBfdPeersAsync(String logicalRouterId, String cursor, String includedFields, Long pageSize, Boolean sortAscending, String sortBy, final ApiCallback<StaticHopBfdPeerListResult> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = listStaticHopBfdPeersValidateBeforeCall(logicalRouterId, cursor, includedFields, pageSize, sortAscending, sortBy, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<StaticHopBfdPeerListResult>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for readStaticHopBfdPeer
     * @param logicalRouterId  (required)
     * @param bfdPeerId  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call readStaticHopBfdPeerCall(String logicalRouterId, String bfdPeerId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/logical-routers/{logical-router-id}/routing/static-routes/bfd-peers/{bfd-peer-id}"
            .replaceAll("\\{" + "logical-router-id" + "\\}", apiClient.escapeString(logicalRouterId.toString()))
            .replaceAll("\\{" + "bfd-peer-id" + "\\}", apiClient.escapeString(bfdPeerId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call readStaticHopBfdPeerValidateBeforeCall(String logicalRouterId, String bfdPeerId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'logicalRouterId' is set
        if (logicalRouterId == null) {
            throw new ApiException("Missing the required parameter 'logicalRouterId' when calling readStaticHopBfdPeer(Async)");
        }
        // verify the required parameter 'bfdPeerId' is set
        if (bfdPeerId == null) {
            throw new ApiException("Missing the required parameter 'bfdPeerId' when calling readStaticHopBfdPeer(Async)");
        }
        
        com.squareup.okhttp.Call call = readStaticHopBfdPeerCall(logicalRouterId, bfdPeerId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Read a static route BFD peer
     * Read the BFD peer having specified ID. 
     * @param logicalRouterId  (required)
     * @param bfdPeerId  (required)
     * @return StaticHopBfdPeer
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public StaticHopBfdPeer readStaticHopBfdPeer(String logicalRouterId, String bfdPeerId) throws ApiException {
        ApiResponse<StaticHopBfdPeer> resp = readStaticHopBfdPeerWithHttpInfo(logicalRouterId, bfdPeerId);
        return resp.getData();
    }

    /**
     * Read a static route BFD peer
     * Read the BFD peer having specified ID. 
     * @param logicalRouterId  (required)
     * @param bfdPeerId  (required)
     * @return ApiResponse&lt;StaticHopBfdPeer&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<StaticHopBfdPeer> readStaticHopBfdPeerWithHttpInfo(String logicalRouterId, String bfdPeerId) throws ApiException {
        com.squareup.okhttp.Call call = readStaticHopBfdPeerValidateBeforeCall(logicalRouterId, bfdPeerId, null, null);
        Type localVarReturnType = new TypeToken<StaticHopBfdPeer>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Read a static route BFD peer (asynchronously)
     * Read the BFD peer having specified ID. 
     * @param logicalRouterId  (required)
     * @param bfdPeerId  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call readStaticHopBfdPeerAsync(String logicalRouterId, String bfdPeerId, final ApiCallback<StaticHopBfdPeer> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = readStaticHopBfdPeerValidateBeforeCall(logicalRouterId, bfdPeerId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<StaticHopBfdPeer>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for updateStaticHopBfdPeer
     * @param body  (required)
     * @param logicalRouterId  (required)
     * @param bfdPeerId  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call updateStaticHopBfdPeerCall(StaticHopBfdPeer body, String logicalRouterId, String bfdPeerId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/logical-routers/{logical-router-id}/routing/static-routes/bfd-peers/{bfd-peer-id}"
            .replaceAll("\\{" + "logical-router-id" + "\\}", apiClient.escapeString(logicalRouterId.toString()))
            .replaceAll("\\{" + "bfd-peer-id" + "\\}", apiClient.escapeString(bfdPeerId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call updateStaticHopBfdPeerValidateBeforeCall(StaticHopBfdPeer body, String logicalRouterId, String bfdPeerId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling updateStaticHopBfdPeer(Async)");
        }
        // verify the required parameter 'logicalRouterId' is set
        if (logicalRouterId == null) {
            throw new ApiException("Missing the required parameter 'logicalRouterId' when calling updateStaticHopBfdPeer(Async)");
        }
        // verify the required parameter 'bfdPeerId' is set
        if (bfdPeerId == null) {
            throw new ApiException("Missing the required parameter 'bfdPeerId' when calling updateStaticHopBfdPeer(Async)");
        }
        
        com.squareup.okhttp.Call call = updateStaticHopBfdPeerCall(body, logicalRouterId, bfdPeerId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Update a static route BFD peer
     * Modifies the static route BFD peer. Modifiable parameters includes peer IP, enable flag and configuration of the BFD peer. 
     * @param body  (required)
     * @param logicalRouterId  (required)
     * @param bfdPeerId  (required)
     * @return StaticHopBfdPeer
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public StaticHopBfdPeer updateStaticHopBfdPeer(StaticHopBfdPeer body, String logicalRouterId, String bfdPeerId) throws ApiException {
        ApiResponse<StaticHopBfdPeer> resp = updateStaticHopBfdPeerWithHttpInfo(body, logicalRouterId, bfdPeerId);
        return resp.getData();
    }

    /**
     * Update a static route BFD peer
     * Modifies the static route BFD peer. Modifiable parameters includes peer IP, enable flag and configuration of the BFD peer. 
     * @param body  (required)
     * @param logicalRouterId  (required)
     * @param bfdPeerId  (required)
     * @return ApiResponse&lt;StaticHopBfdPeer&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<StaticHopBfdPeer> updateStaticHopBfdPeerWithHttpInfo(StaticHopBfdPeer body, String logicalRouterId, String bfdPeerId) throws ApiException {
        com.squareup.okhttp.Call call = updateStaticHopBfdPeerValidateBeforeCall(body, logicalRouterId, bfdPeerId, null, null);
        Type localVarReturnType = new TypeToken<StaticHopBfdPeer>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Update a static route BFD peer (asynchronously)
     * Modifies the static route BFD peer. Modifiable parameters includes peer IP, enable flag and configuration of the BFD peer. 
     * @param body  (required)
     * @param logicalRouterId  (required)
     * @param bfdPeerId  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call updateStaticHopBfdPeerAsync(StaticHopBfdPeer body, String logicalRouterId, String bfdPeerId, final ApiCallback<StaticHopBfdPeer> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = updateStaticHopBfdPeerValidateBeforeCall(body, logicalRouterId, bfdPeerId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<StaticHopBfdPeer>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
